.catchcopy-container {
  margin:50px 0px 70px 70px;
  max-width:600px;
  font-size:55px;
}

.catchcopy-container > .catchcopyfont {
  color:$catchcopystart;
  background: -webkit-linear-gradient(0deg,$catchcopystart,$catchcopyend);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media (max-width: 1920px) {
    font-size: calc(1.875rem + ((1vw - 9.5px) * 2.5773));
    min-height: 0vw;
  }
  @media (max-width: 950px) {
    font-size: 30px;
  }
}