.covid-container {
  background-color:$light-gray;
  text-align:center;
  font-size:14px;
  height:55px;
  color:$light-black;
  display: flex;
  align-items: center;
  @media (max-width: 740px){
      height:70px;
  }
}

.covid-container > .summary {
  margin: 0 auto;
}