.covid-container {
  background-color:$white-smoke;
  text-align:center;
  font-size:14px;
  height:55px;
  color:$dark-engine;
  display: flex;
  align-items: center;
  @media (max-width: 740px){
      height:70px;
  }
}

.covid-container > .summary {
  margin: 0 auto;
}