.header-nav {
  margin:0px 30px;
}

.header-nav > .list {
  display: inline;
  padding:10px;
  text-decoration:none;
  font-weight: bold;
  font-size:14px;
  color:$light-black;
  
}

.header-nav > .list >.fas{
  margin-right:7px;
}

.header-nav > .list >.hide{
  display: none;
}

.header-nav >.signup{
  border-radius: 20px;
  box-shadow:$black-shadow;
  background-color:$white;
}