.hiding-footer{
  @media (max-width:740px){
    width:100%;
    height:70px;
    border-top:solid 1px $bodergray;
    position: absolute;
    position: fixed;
    bottom: 0; 
    background-color:$white;
  }
}

.hiding-footer > .icons{
  display: flex;
  text-align: center;
  margin:0 auto;
  width:50%;
  padding:20px;
}

.hiding-footer > .icons >.icon{
  width:33%;
}

.hiding-footer > .icons >.icon > .far{
  font-size:25px;
  color:$gray;
}

.hiding-footer > .icons >.icon >.fab{
  font-size:25px;
  color:$gray;
}

.hiding-footer > .icons >.icon >.word{
  font-size:10px;
}