.image-block{
  display: flex;
  justify-content:space-between;
  font-weight:bold; 
  letter-spacing:0.5px;
  font-size:15px;
  width:100%;
  min-width:500px; 
  height:80%;
  @media (max-width: 900px){
    overflow-x: auto;
    white-space: nowrap;
    height:750px;
    margin-bottom:50px;
  }
}