.image-block{
  display: flex;
  justify-content:space-between;
  font-weight:bold; 
  letter-spacing:0.5px;
  font-size:15px; 
  width: 95vw;
  height: 45vw;
  @media (max-width: 900px){
    overflow-x: auto;
    white-space: nowrap;
    height:650px;
    margin-bottom:50px;
  }
}