.information-nav{
  @media (max-width: 740px){
    width:500px;
  }
}

.information-nav > .title{
  font-size:19px;
  padding-bottom:10px;
}
.information-nav > .informationlist{
  list-style: none; 
  border-top: solid 1px $bodergray;
  padding:15px 0px;
  font-weight: bold;
}

.information-nav > .informationlist > .informationthin{
  color:$gray;
  font-size:14px;
  font-weight: normal;
}
