.large-image{
  border-radius:25px;
  height:100%;
  background-size:cover;
  position: relative;
  background-image:url("../src/image/sangría.png");
  width:100%;
  min-width:500px; 
  @media (max-width: 1130px) {
    width: 80%;
  }
  @media (max-width: 900px){
    display: inline-block;
    height: 80%;
    margin:16px;
  }
}

.large-image > .item{
  background-color:$black-nero;
  height:75px;
  border-radius:0px 0px 25px 25px;
  position: relative;
  position: absolute;
  width:100%;
  bottom:0;
}

.large-image > .item > .summary{
  max-width:50%;
  padding:10px;
}