.onlineexperience-container{
  background-color:$black;
  padding:60px 60px 80px 60px;
  color:$white;
  position: relative;
  height:1000px;
}

@media (max-width: 900px){
  .onlineexperience-container{
    padding:20px;
  }
}