.search-nav > .searchlist{
  display: inline;
  padding-right:20px;
  text-decoration:none;
  color:$light-black;
}

.search-nav > .searchlist > .newred{
  background:$wine;
  margin: 0 0 0 8px;
  padding: 4px 5px;
  border-radius: 4px;
  color: $white;
  font-size: 3px;
  font-weight:bold;
}   