@media (max-width:740px){
  .search-form{
    background-color:$white;
    width:100%;
    height:70px;
    z-index:99;
  }
  .search-form > .form{
    position:relative;
    background: $white;
    width: 85%;
    position: absolute;
    margin:10px;
  }
  .search-form > .form > .sbox{
    width:100%;
    height:45px;
    border-radius:20px;
    background:$white;
    padding-left:50px;
    font-size:15px;
  }
  .search-form > .form > .sbtn{
    height:45px;
    position:absolute; 
    top:5px;
    left:15px;
    color:$gray;
    border:none;
    font-size:17px;
    z-index: 1;
  }
}
