.search-block{
  height:40px;
  width:90%;
  margin-top:25px;
  padding:13px 10px;
  background-color:$white;
  border-radius: 10px;
  box-shadow:0 0 10px $brainstem-grey;
  display: flex;
}

.search-block > .form{
  width:30%;
  border-right: thin solid;
  height: 40px;
  margin:3px 0px 0px 19px;
}

.form:nth-child(3){
  border-right:initial;
}

.search-block > .form > .title{
  font-size:5px;
  font-weight:bold;
  margin-bottom:2px;
}

.search-block > .form > .notes{
  font-size:14px;
  color:$grey;
}

.btn.form{
  width:40%;
  display: flex;
  justify-content:space-between;
}

.btn.form > .label >.title{
  font-size:5px;
  font-weight:bold;
  margin-bottom:2px;
}

.btn.form > .label > .notes{
  font-size:14px;
  color:$grey;
}

.btn.form > .item{
  margin-top:-5px;
  margin-right:5px;
}

.btn.form > .item > .btn{
  background: -webkit-linear-gradient(0deg,$red-rose-rush,$red-pelati);
  color:$white;
  width:75px;
  height:25px;
  padding:10px;
  border-radius: 8px;
  font-size:14px;
  text-align: center;
  line-height:25px;
}

.btn.form > .item > .fa-search{
  margin-right:5px;
}

