.small-image{
  width:48%;
  height:100%;
  border-radius:25px;
  background-size:cover;
  position: relative;
  background-image:url("../src/image/yoga.png");
  @media (max-width: 1130px) {
    width: 25vw;
    height: 22vw;
    margin-bottom:10px;
  }
  @media (max-width: 900px){
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin:16px;
  }
}

.small-image > .summaryitem{
  background-color:$black-nero;
  height:75px;
  border-radius:0px 0px 25px 25px;
  position: relative;
  position: absolute;
  width:100%;
  bottom:0;
}

.small-image > .summaryitem > .summary{
  width:90%;
  padding:10px;
}

.small-image:nth-child(2){
  background-image:url("../src/image/music.png");
}