.small-image{
  width:48%;
  min-width:300px;
  height:100%;
  border-radius:25px;
  background-size:cover;
  position: relative;
  background-image:url("../src/image/yoga.png");
  margin:0px 1%;
  @media (max-width: 1130px) {
    width: 70%;
    height: 49%;
    margin:0px 0px 13px 0px;
  }
  @media (max-width: 900px){
    display: inline-block;
    width:80%;
    height:80%;
    margin:16px;
  }
}

.small-image > .item{
  background-color:$black-nero;
  height:75px;
  border-radius:0px 0px 25px 25px;
  position: relative;
  position: absolute;
  width:100%;
  bottom:0;
}

.small-image > .item > .summary{
  width:90%;
  padding:10px;
}

.small-image:nth-child(2){
  background-image:url("../src/image/music.png");
}