$light-black:#3f3f3f;
$light-60:#606060;
$light-a0:#a0a0a0;
$light-gray:#f5f5f5;
$light-white:#fcfcfc;
$white:#fff;
$red:red;
$gray:gray;
$wine:rgb(247, 49, 49);
$catchcopystart:rgb(146, 23, 77);
$catchcopyend:rgb(228, 29, 92);
$black:black;
$bodergray:#cdcdcd;
$black-shadow:0 0 10px rgb(180, 180, 180);
$explanation:#252525;
$light-green:#01999e;
$light-red:#FF5A5F;