 /*グローバル変数*/
$light-black:#3f3f3f;
$black-shadow:0 0 10px rgb(180, 180, 180);
$white:#fff;

 /*mixin*/
@mixin space-between{
  display: flex;
  justify-content:space-between;
}
@mixin division{
  width:49.5%;
  border-radius:25px;
  height:100%;
}

@mixin division-second{
  width:48%;
  height:100%;
  border-radius:25px;
}

@mixin explanation{
  background-color:#252525;
  height:75px;
  border-radius:0px 0px 25px 25px;
  position: relative;
  padding:10px 0px 0px 15px;
}
.body{
  width:100vw;
  height:100vh;
}
/*全体*/
.section-layout{
width:100%;
  /*コロナウイルスに関する注意事項*/
  > .covid{ 
    background-color:#f5f5f5;
    text-align:center;
    font-size:14px;
    height:55px;
    color:$light-black;
    display: flex;
    align-items: center;
    > p{
      margin: 0 auto;
    }
    @media (max-width: 750px){
      height:70px;
     }
  }

  /*ヘッダー*/
  > .topheader{
    height:80px;
    align-items: center;
    margin:0px 55px;
    @include space-between;
    @media (max-width:840px){
      display: none;
     }
  }
  > .topheader > .logo{
    margin-left:15px;
    margin-top:10px;
  }
  > .topheader > .menu ul li{
    display: inline;
    padding-right:20px;
    >a{
      text-decoration:none;
      font-weight: bold;
      font-size:14px;
      color:$light-black;
    }
      .fa-globe{
        margin-right:7px;
      }
      .register{
        display: inline-block;
        padding: 0.7em 1.1em;
        border-radius: 20px;
        box-shadow:$black-shadow;
      }
  }
  
  > .searchform{
    @media (min-width:840px){
      display: none;
     }
  }

  /*ヘッダー未表示時の検索フォーム*/
.form2{
  position:relative;
  margin:20px;
  @media (min-width:841px){
    display: none;
   }
  }
  .sbox2{
  width:100%;
  height:45px;
  border-radius:20px;
  background:#fff;
  box-shadow:$black-shadow;
  padding-left:50px;
  font-size:15px;
  }
  .sbtn2{
  height:50px;
  position:absolute; 
  top:-2px;
  left:15px;
  color:#666;
  border:none;
  font-size:17px;
  z-index: 1;
  }

  /*検索フォーム*/
  > .search{
    height:150px;
    align-items: center;
    margin:0px 0px 60px 70px;
    padding-top:30px;
    @media (max-width: 840px){
      display: none;
     }
  }
  > .search > .menu ul li{
    display: inline;
    padding-right:20px;
    a{
      text-decoration:none;
      color:$light-black;
      span{
        background: rgb(247, 49, 49);
        margin: 0 0 0 8px;
        padding: 4px 5px;
        border-radius: 4px;
        color: $white;
        font-size: 3px;
        font-weight:bold ;
      }
    }
  }
  > .search > .form{
    height:65px;
    width:100%;
    margin-top:25px;
    padding:13px 10px;
    background-color:$white;
    border-radius: 10px;
    box-shadow:$black-shadow;
    display: flex;
    >.section-form{
      width:30%;
      border-right: thin solid rgb(221, 221, 221);
      height: 40px;
      margin:3px 0px 0px 19px;
    }
  }
  > .search > .form .section-form .title{
    font-size:5px;
    font-weight:bold;
    margin-bottom:2px;
  }
  > .search > .form .section-form .text{
    font-size:14px;
    color:gray;
  }
  > .search > .form > #plusbtn.section-form{
    width:40%;
    @include space-between;
  }
  > .search > .form > #plusbtn.section-form > .right{
    margin-top:-5px;
    margin-right:5px;
    > .btn{
      background:#D70466;
      color:$white;
      padding: 12px 22px;
      border-radius: 8px;
      font-size:14px;
      > .fa-search{
        margin-right:5px;
      }
    }
  }
  /*キャッチコピー*/
  > .catchcopy{
    margin:0px 0px 70px 70px;
    width:45%;
    > p{
      color: rgb(146, 23, 77);
      background: -webkit-linear-gradient(0deg, rgb(146, 23, 77), rgb(228, 29, 92));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @media (max-width: 1920px) {
        font-size: calc(1.875rem + ((1vw - 9.5px) * 2.5773));
        min-height: 0vw;
     }
     @media (max-width: 950px) {
        font-size: 30px;
     }
    }   
  }

  /*オンライン体験*/
  > .onlineexperience{
    background-color: black;
    height:1000px;
    padding:60px;
    color:$white;
    > .top{
      height:120px;
      @include space-between;
    }
  }
  > .onlineexperience >.top > .left{
    width:450px;
    > .title{
      font-size:30px;
      font-weight: bold;
    }
  }
  > .onlineexperience >.top > .right{
    border: solid 1px #fff;
    width:100px;
    height:35px;
    border-radius: 8px;
    text-align: center;
    line-height:35px;
    font-size:14px;
    
  }
  > .onlineexperience > .imagebox{
    @include space-between;
    width:100%;
    height:80%;
    margin-top:20px;
    font-weight:bold; 
    letter-spacing:0.5px;
    font-size:15px;
    > .left{
      @include division;
      background-image:url("/Users/mikaijun/airbnb/image/sangría.png");
      > .explanation{
       @include explanation;
       top:89.5%;
       p{
         width:330px;
       }
      }
    }
    > .right{
      @include division;
      > .top{
        @include space-between;
        height:50%;
        > .yoga{
          @include division-second;
          background-image:url("/Users/mikaijun/airbnb/image/yoga.png");
          > .explanation{
            @include explanation;
            top:79%;
            p{
              width:300px;
            }
           }
        }
        > .music{
          @include division-second;
          background-image:url("/Users/mikaijun/airbnb/image/music.png");
          > .explanation{
            @include explanation;
            top:79%;
            p{
              width:310px;
            }
           }
        }
      }
      > .bottom{
        width:100%;
        height:45%;
        margin-top:30px;
        background-image:url("/Users/mikaijun/airbnb/image/penguin.png");
        border-radius:30px;
        > .explanation{
          @include explanation;
          top:77.5%;
          p{
            width:330px;
          }
         }
      }
    }
  }

  /*最新情報*/
  > .news{
    height:500px;
    width:100%;
    background-color:#f5f5f5;
    padding:70px;
    border-bottom:solid 1px #cdcdcd;
    > .latestinformation{
      font-size:22px;
      font-weight: bold;
    }
  }
  > .news > .section-informations{
    height:300px;
    margin-top:30px;
    display: flex;
    justify-content: space-evenly;
    > .section-information{
      width:25%;
      margin-right:15px;
    }
  }
  > .news > .section-informations > .section-information ul{
    > .title{
      font-size:19px;
      padding-bottom:10px;
    }
    > li{
      list-style: none; 
      border-top: solid 1px #cdcdcd;
      padding:15px 0px;
      font-weight: bold;
      > span{
        color:#959595;
        font-size:14px;
        font-weight: normal;
      }
    }
  }
    
  > .section-linkcollections{
    height:300px;
    padding:40px 80px;
    @include space-between;
    > .section-linkcollection{
      width:25%;
    }
  }
  > .section-linkcollections > .section-linkcollection ul{
    > .title{
      font-weight: bold;
      font-size:12px;
      margin-bottom:10px;
    }
    > li{
      
      font-size:14px;
      list-style: none;
      color:#5f5f5f; 
      line-height:35px;
    }
  }
  > .topfooter{
    @include space-between;
    margin:70px 70px 30px 70px; 
    padding-top:30px;
    border-top: solid 1px #cdcdcd;
    color:#1f1f1f;
    
    > .left{
      font-size:13px;
      >span{
        padding:0px 8px;
      }
    }
    > .right{
      @include space-between;
      font-size:13px;
      font-weight: bold;
      height:30px;
      width:300px;
      > .japan{
        @include space-between;
        > .fa-globe{
          margin:3px 5px 0px 0px;
        }
        > p{
          margin:0px 4px;
          text-decoration: underline;
        }
      }
      > .sns{
        letter-spacing: 10px;
        font-size:18px;
      }
    }
  }
}