@charset "UTF-8";
/*グローバル変数*/
/*mixin*/
.body {
  width: 100vw;
  height: 100vh;
}

/*全体*/
.section-layout {
  width: 100%;
  position: relative;
  /*コロナウイルスに関する注意事項*/
  /*ヘッダー*/
  /*ヘッダー未表示時の検索フォーム*/
  /*検索フォーム*/
  /*キャッチコピー*/
  /*オンライン体験*/
  /*最新情報*/
  /*リンク集*/
}

.section-layout > .covid {
  background-color: #f5f5f5;
  text-align: center;
  font-size: 14px;
  height: 55px;
  color: #3f3f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-layout > .covid > p {
  margin: 0 auto;
}

@media (max-width: 750px) {
  .section-layout > .covid {
    height: 70px;
  }
}

.section-layout > .topheader {
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  left: 0px;
  z-index: 100;
  width: 100%;
  position: absolute;
}

@media (max-width: 840px) {
  .section-layout > .topheader {
    display: none;
  }
}

.section-layout > .m_fixed {
  left: 0;
  position: fixed;
  top: 0;
  border-bottom: solid 1px #dbdada;
}

.section-layout > .topheader > .logo {
  margin-left: 15px;
  margin-top: 10px;
}

.section-layout > .topheader > .menu ul li {
  display: inline;
  padding-right: 20px;
}

.section-layout > .topheader > .menu ul li > a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #3f3f3f;
}

.section-layout > .topheader > .menu ul li .fa-globe {
  margin-right: 7px;
}

.section-layout > .topheader > .menu ul li .register {
  display: inline-block;
  padding: 0.7em 1.1em;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px #b4b4b4;
          box-shadow: 0 0 10px #b4b4b4;
}

@media (min-width: 840px) {
  .section-layout > .searchform {
    display: none;
  }
}

.section-layout .form2 {
  position: relative;
  margin: 20px;
}

@media (min-width: 841px) {
  .section-layout .form2 {
    display: none;
  }
}

.section-layout .sbox2 {
  width: 100%;
  height: 45px;
  border-radius: 20px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #b4b4b4;
          box-shadow: 0 0 10px #b4b4b4;
  padding-left: 50px;
  font-size: 15px;
}

.section-layout .sbtn2 {
  height: 50px;
  position: absolute;
  top: -2px;
  left: 15px;
  color: #666;
  border: none;
  font-size: 17px;
  z-index: 1;
}

.section-layout > .search {
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px 60px 70px;
  padding-top: 30px;
}

@media (max-width: 840px) {
  .section-layout > .search {
    display: none;
  }
}

.section-layout > .search > .menu ul li {
  display: inline;
  padding-right: 20px;
}

.section-layout > .search > .menu ul li a {
  text-decoration: none;
  color: #3f3f3f;
}

.section-layout > .search > .menu ul li a span {
  background: #f73131;
  margin: 0 0 0 8px;
  padding: 4px 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 3px;
  font-weight: bold;
}

.section-layout > .search > .form {
  height: 65px;
  width: 100%;
  margin-top: 25px;
  padding: 13px 10px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #b4b4b4;
          box-shadow: 0 0 10px #b4b4b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-layout > .search > .form > .section-form {
  width: 30%;
  border-right: thin solid #dddddd;
  height: 40px;
  margin: 3px 0px 0px 19px;
}

.section-layout > .search > .form .section-form .title {
  font-size: 5px;
  font-weight: bold;
  margin-bottom: 2px;
}

.section-layout > .search > .form .section-form .text {
  font-size: 14px;
  color: gray;
}

.section-layout > .search > .form > #plusbtn.section-form {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-layout > .search > .form > #plusbtn.section-form > .right {
  margin-top: -5px;
  margin-right: 5px;
}

.section-layout > .search > .form > #plusbtn.section-form > .right > .btn {
  background: #D70466;
  color: #fff;
  padding: 12px 22px;
  border-radius: 8px;
  font-size: 14px;
}

.section-layout > .search > .form > #plusbtn.section-form > .right > .btn > .fa-search {
  margin-right: 5px;
}

.section-layout > .catchcopy {
  margin: 0px 0px 70px 70px;
  width: 45%;
}

.section-layout > .catchcopy > p {
  color: #92174d;
  background: -webkit-linear-gradient(0deg, #92174d, #e41d5c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1920px) {
  .section-layout > .catchcopy > p {
    font-size: calc(1.875rem + ((1vw - 9.5px) * 2.5773));
    min-height: 0vw;
  }
}

@media (max-width: 950px) {
  .section-layout > .catchcopy > p {
    font-size: 30px;
  }
}

.section-layout > .onlineexperience {
  background-color: black;
  padding: 60px 60px 80px 60px;
  color: #fff;
  position: relative;
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience {
    padding: 20px;
  }
}

.section-layout > .onlineexperience > .top {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience > .top {
    margin-bottom: initial;
    height: initial;
  }
}

.section-layout > .onlineexperience > .top > .left {
  width: 450px;
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience > .top > .left {
    width: 100%;
  }
}

.section-layout > .onlineexperience > .top > .left > .title {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience > .top > .left > .title {
    font-size: 22px;
  }
}

.section-layout > .onlineexperience > .top > .right {
  border: solid 1px #fff;
  width: 100px;
  height: 35px;
  border-radius: 8px;
  text-align: center;
  line-height: 35px;
  font-size: 14px;
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience > .top > .right {
    position: absolute;
    bottom: 35px;
    left: 50px;
  }
}

.section-layout > .onlineexperience > .imagebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 15px;
  width: 95vw;
  height: 45vw;
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience > .imagebox {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    height: 650px;
    margin-bottom: 50px;
  }
}

.section-layout > .onlineexperience > .imagebox > .left {
  width: 49.5%;
  border-radius: 25px;
  height: 100%;
  background-image: url("/Users/mikaijun/airbnb/image/sangría.png");
  background-size: cover;
  position: relative;
}

@media (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox > .left {
    width: 75vw;
    height: 45vw;
    margin-right: 20px;
  }
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience > .imagebox > .left {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

.section-layout > .onlineexperience > .imagebox > .left > .explanation {
  background-color: #252525;
  height: 75px;
  border-radius: 0px 0px 25px 25px;
  position: relative;
  padding: 10px 0px 0px 15px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.section-layout > .onlineexperience > .imagebox > .left > .explanation p {
  width: 100%;
}

.section-layout > .onlineexperience > .imagebox > .right {
  width: 49.5%;
  border-radius: 25px;
  height: 100%;
}

.section-layout > .onlineexperience > .imagebox > .right > .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50%;
  width: 100%;
}

@media (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox > .right > .top {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
}

.section-layout > .onlineexperience > .imagebox > .right > .top > .yoga {
  width: 48%;
  height: 100%;
  border-radius: 25px;
  background-image: url("/Users/mikaijun/airbnb/image/yoga.png");
  background-size: cover;
  position: relative;
}

@media (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox > .right > .top > .yoga {
    width: 25vw;
    height: 20vw;
  }
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience > .imagebox > .right > .top > .yoga {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

.section-layout > .onlineexperience > .imagebox > .right > .top > .yoga > .explanation {
  background-color: #252525;
  height: 75px;
  border-radius: 0px 0px 25px 25px;
  position: relative;
  padding: 10px 0px 0px 15px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.section-layout > .onlineexperience > .imagebox > .right > .top > .yoga > .explanation p {
  width: 100%;
}

.section-layout > .onlineexperience > .imagebox > .right > .top > .music {
  width: 48%;
  height: 100%;
  border-radius: 25px;
  background-image: url("/Users/mikaijun/airbnb/image/music.png");
  background-size: cover;
  position: relative;
}

@media (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox > .right > .top > .music {
    margin-top: 50px;
    width: 25vw;
    height: 20vw;
  }
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience > .imagebox > .right > .top > .music {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

.section-layout > .onlineexperience > .imagebox > .right > .top > .music > .explanation {
  background-color: #252525;
  height: 75px;
  border-radius: 0px 0px 25px 25px;
  position: relative;
  padding: 10px 0px 0px 15px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.section-layout > .onlineexperience > .imagebox > .right > .top > .music > .explanation p {
  width: 100%;
}

.section-layout > .onlineexperience > .imagebox > .right > .bottom {
  width: 100%;
  height: 45%;
  margin-top: 35px;
  background-image: url("/Users/mikaijun/airbnb/image/penguin.png");
  background-size: cover;
  border-radius: 30px;
  position: relative;
}

@media (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox > .right > .bottom {
    display: none;
  }
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience > .imagebox > .right > .bottom {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

.section-layout > .onlineexperience > .imagebox > .right > .bottom > .explanation {
  background-color: #252525;
  height: 75px;
  border-radius: 0px 0px 25px 25px;
  position: relative;
  padding: 10px 0px 0px 15px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

.section-layout > .onlineexperience > .imagebox > .right > .bottom > .explanation p {
  width: 100%;
}

.section-layout > .news {
  height: 500px;
  width: 100%;
  background-color: #f5f5f5;
  padding: 70px;
  border-bottom: solid 1px #cdcdcd;
}

@media (max-width: 1130px) {
  .section-layout > .news {
    height: 900px;
  }
}

@media (max-width: 730px) {
  .section-layout > .news {
    padding: 10px;
    height: 400px;
  }
}

.section-layout > .news > .latestinformation {
  font-size: 22px;
  font-weight: bold;
}

.section-layout > .news > .section-informations {
  height: 300px;
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 730px) {
  .section-layout > .news > .section-informations {
    overflow-x: auto;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: initial;
    height: 350px;
  }
}

.section-layout > .news > .section-informations > .section-information {
  width: 23%;
  margin-right: 15px;
  float: left;
}

@media (max-width: 1130px) {
  .section-layout > .news > .section-informations > .section-information {
    width: 45%;
    margin-top: 50px;
  }
}

@media (max-width: 730px) {
  .section-layout > .news > .section-informations > .section-information {
    display: inline-block;
    width: 100%;
  }
}

@media (max-width: 730px) {
  .section-layout > .news > .section-informations > .section-information ul {
    width: 500px;
  }
}

.section-layout > .news > .section-informations > .section-information ul > .title {
  font-size: 19px;
  padding-bottom: 10px;
}

.section-layout > .news > .section-informations > .section-information ul > li {
  list-style: none;
  border-top: solid 1px #cdcdcd;
  padding: 15px 0px;
  font-weight: bold;
}

.section-layout > .news > .section-informations > .section-information ul > li > span {
  color: #959595;
  font-size: 14px;
  font-weight: normal;
}

.section-layout > .section-linkcollections {
  height: 300px;
  width: 100%;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1130px) {
  .section-layout > .section-linkcollections {
    display: inline;
  }
}

@media (max-width: 730px) {
  .section-layout > .section-linkcollections {
    display: none;
  }
}

.section-layout > .section-linkcollections > .section-linkcollection {
  width: 25%;
}

@media (max-width: 1130px) {
  .section-layout > .section-linkcollections > .section-linkcollection {
    width: 100%;
    border-bottom: solid 1px #838383;
    margin: 20px;
    padding-bottom: 20px;
  }
}

.section-layout > .section-linkcollections > .section-linkcollection > .title {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 10px;
}

@media (max-width: 1130px) {
  .section-layout > .section-linkcollections > .section-linkcollection ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-layout > .section-linkcollections > .section-linkcollection ul > li {
  font-size: 14px;
  list-style: none;
  color: #5f5f5f;
  line-height: 35px;
}

@media (max-width: 1130px) {
  .section-layout > .section-linkcollections > .section-linkcollection ul > li {
    width: 33%;
  }
}

.section-layout > .topfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 70px 30px 70px;
  padding-top: 30px;
  border-top: solid 1px #cdcdcd;
  color: #1f1f1f;
}

@media (max-width: 1130px) {
  .section-layout > .topfooter {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    width: 700px;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 730px) {
  .section-layout > .topfooter {
    text-align: initial;
    margin: 10px;
  }
}

.section-layout > .topfooter > .left {
  font-size: 13px;
}

.section-layout > .topfooter > .left > span {
  padding: 0px 8px;
}

.section-layout > .topfooter > .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  width: 300px;
}

@media (max-width: 1130px) {
  .section-layout > .topfooter > .right {
    margin: 0 auto;
  }
}

@media (max-width: 730px) {
  .section-layout > .topfooter > .right {
    margin: initial;
  }
}

.section-layout > .topfooter > .right > .japan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-layout > .topfooter > .right > .japan > .fa-globe {
  margin: 3px 5px 0px 0px;
}

.section-layout > .topfooter > .right > .japan > p {
  margin: 0px 4px;
  text-decoration: underline;
}

.section-layout > .topfooter > .right > .sns {
  letter-spacing: 10px;
  font-size: 18px;
}

@media (max-width: 730px) {
  .section-layout > .topfooter > .right > .sns {
    display: none;
  }
}

.section-layout > .hidingfooter {
  width: 100%;
  height: 70px;
  border-top: solid 1px #c4c4c4;
  position: absolute;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}

@media (min-width: 730px) {
  .section-layout > .hidingfooter {
    opacity: 0;
  }
}

.section-layout > .hidingfooter > .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 50%;
  padding: 20px;
}

.section-layout > .hidingfooter > .icons > .section-icon {
  width: 33%;
}

.section-layout > .hidingfooter > .icons > .section-icon > .far {
  font-size: 25px;
  color: #727171;
}

.section-layout > .hidingfooter > .icons > .section-icon > .fab {
  font-size: 25px;
  color: #727171;
}

.section-layout > .hidingfooter > .icons > .section-icon > .word {
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */