 /*グローバル変数*/
$light-black:#3f3f3f;
$black-shadow:0 0 3px rgb(180, 180, 180);

 /*mixin*/
@mixin space-between{
  display: flex;
  justify-content:space-between;
}

/*全体*/
.section-layout{
  width:100%;

  /*コロナウイルスに関する注意事項*/
  > .covid{ 
    background-color:#f5f5f5;
    text-align:center;
    font-size:14px;
    height:55px;
    line-height:55px;
    color:$light-black;
  }

  /*ヘッダー*/
  > .topheader{
    height:80px;
    align-items: center;
    margin:0px 55px;
    @include space-between;
  }
  > .topheader > .logo{
    margin-left:15px;
    margin-top:10px;
  }
  > .topheader > .menu ul li{
    display: inline;
    padding-right:20px;
    >a{
      text-decoration:none;
      font-weight: bold;
      font-size:14px;
      color:$light-black;
    }
      .fa-globe{
        margin-right:7px;
      }
      .register{
        display: inline-block;
        padding: 0.7em 1.1em;
        border-radius: 20px;
        box-shadow:$black-shadow;
      }
  }

  /*検索フォーム*/
  > .search{
    height:150px;
    align-items: center;
    margin:0px 80px;
    padding-top:30px;
  }
  > .search > .menu ul li{
    display: inline;
    padding-right:20px;
    a{
      text-decoration:none;
      color:$light-black;
      span{
        background: rgb(247, 49, 49);
        margin: 0 0 0 8px;
        padding: 4px 5px;
        border-radius: 4px;
        color: #fff;
        font-size: 3px;
        font-weight:bold ;
      }
    }
  }
  > .search > .form{
    height:65px;
    width:100%;
    margin-top:25px;
    padding:13px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow:$black-shadow;
    display: flex;
    >.section-form{
      width:30%;
      border-right: thin solid rgb(221, 221, 221);
      height: 40px;
      margin:3px 0px 0px 19px;
    }
  }
  > .search > .form .section-form .title{
    font-size:5px;
    font-weight:bold;
    margin-bottom:2px;
  }
  > .search > .form .section-form .text{
    font-size:14px;
    color:gray;
  }
  > .search > .form > #plusbtn.section-form{
    width:40%;
    @include space-between;
  }
  > .search > .form > #plusbtn.section-form > .right{
    margin-top:-5px;
    margin-right:5px;
    > .btn{
      background:#D70466;
      color: #fff;
      padding: 12px 22px;
      border-radius: 8px;
      color: #fff;
      font-size:14px;
      > .fa-search{
        margin-right:5px;
      }
    }
  }
  /*キャッチコピー*/
  > .catchcopy{
    font-size:50px;
    width:700px;
    height:300px;
    margin:80px 0px 0px 70px;
    line-height: 120%;
    > p{
      color: rgb(146, 23, 77);
      background: -webkit-linear-gradient(0deg, rgb(146, 23, 77), rgb(228, 29, 92));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }   
  }
}