.belongings-container{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  display: flex;
  @media (max-width: 740px){
    display: initial;
  }
}

.belongings-container > .sticky {
  width: 20vw;
  height: 10vh;
  position: -webkit-sticky; 
  position: sticky; 
  top: 55px; 
  left: 0;
  @media (max-width: 740px){
    width:initial;
    position: initial;
  }
}

.belongings-container > .sticky > .title{
  font-size:30px;
  font-weight: bold;
  min-width:150px;
  padding-top:40px;
  @media (max-width: 740px){
    font-size:23px;
    padding:20px 0px 0px 20px;
  }
}

.belongings-container > .sticky > .traditional{
  margin-top:20px;
  border:$light-black solid 2px;
  padding:10px 20px;
  max-width:260px;
  color:$light-black;
  font-weight: bold;
  border-radius:5px;
}
