.btn-item{
  width:200px;
  height:40px;
  position: absolute;
  right:30px;
  top:20px;
  display: flex;
  justify-content:space-between;
  @media (max-width: 740px){
    display: none;
  }
}

.btn-item > .snsbtn{
  background-color:$white-smoke;
  border-radius: 5px;
  display: flex;
  justify-content:space-between;
  padding:12px 15px 15px 15px;
  line-height:1;
  font-size:14px;
  font-weight: bold;
}

.btn-item > .snsbtn > .fas{
  padding-right:10px;
}

.btn-item > .snsbtn > .far{
  padding-right:10px;
}