.calendars-container{
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.calendars-container >  .calendar{
  display: inline-block;
  padding:0px 30px;
}

.calendars-container >  .calendar > .month{
  font-size:18px;
  margin:0px 0px 20px 15px;
}