.calendar-container{
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.calendar-container >  .block{
  display: inline-block;
  padding:0px 30px;
}

.calendar-container >  .block > .month{
  font-size:18px;
  margin:0px 0px 20px 15px;
}