.can_possible-container{
  display: flex;
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  margin-bottom:40px;
  @media (max-width: 740px){
    display: initial;
  }
}

.can_possible-container > .sticky {
  width: 20vw;
  height: 10vh;
  position: -webkit-sticky; 
  position: sticky; 
  top: 55px; 
  left: 0; 
  @media (max-width: 740px){
    width:initial;
    position: initial;
  }
}

.can_possible-container > .sticky >.title{
  font-size:30px;
  font-weight: bold;
  min-width:150px;
  padding-top:40px;
  @media (max-width: 740px){
    font-size:23px;
    padding:20px 0px 0px 20px;
  }
}

.can_possible-container > .summary{
  padding-top:45px;
  max-width:900px;
  line-height:2.0;
  padding-left:60px;
  @media (max-width: 740px){
    padding:initial;
    margin:30px 20px;
  }
}