.challenging-container{
  height:400px;
  background-color:$white-smoke;
  @media (max-width: 740px){
    height:auto;
  }
}

.challenging-container > .challengeblock{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$dark-engine;
  display: flex;
  padding-top:120px;
  @media (max-width: 740px){
    display: initial;
  }
}

.challenging-container > .challengeblock > .title{
  font-size:30px;
  font-weight: bold;
  width:300px;
  @media (max-width: 740px){
    margin-top:100px;
    width:280px;
  }
  @media (max-width: 740px){
    width:90%;
    height:60px;
    margin:10px 0px 0px 20px;
    font-size:23px;
    border-bottom:$compact-disc-grey solid 1px;
  }
}