.entrymethod-container{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$dark-engine;
  display: flex;
  @media (max-width: 740px){
    display: initial;
  }
}

.entrymethod-container > .sticky{
  width: 20%;
  height: 10%;
  position: -webkit-sticky; 
  position: sticky; 
  top: 55px; 
  left: 0;
  @media (max-width: 740px){
    width:initial;
    position: initial;
  } 
}

.entrymethod-container > .sticky > .title{
  font-size:30px;
  font-weight: bold;
  min-width:150px;
  padding-top:40px;
  @media (max-width: 740px){
    font-size:23px;
    padding:20px 0px 0px 20px;
  }
}

.entrymethod-container > .block{
  padding-top:45px;
  padding-left:100px;
  width:100%;
  @media (max-width: 740px){
    padding-left:20px;
    width:90%;
    width:95%;
    margin-top:30px;
  }
}

.entrymethod-container > .block >.reserved > .title{
  font-size:22px;
  font-weight: bold;
  margin:10px 0px;
  @media (max-width: 740px){
    font-size:18px;
    margin:20px 0px;
  }
}

.entrymethod-container > .block >.reserved > .details{
  font-size:18px;
}