.explanation-left {
  @media(max-width: 1130px){
    width:55%;
  }
  @media (max-width: 740px){
    width:initial;
    padding:0px 20px;
  }
}

.explanation-left > .icon{
  height:20px;
  width:120px;
  background-color:$light-white;
  border-radius: 5px;
  display: flex;
  font-weight: bold;
  padding:5px;
  margin-bottom:10px;
}

.explanation-left > .icon >.fas{
  padding-right:5px;
  font-size:9px;
  line-height:1.5;
}

.explanation-left > .icon > .playfont{
  font-size:12px;
  line-height:1.5;
}

.explanation-left > .title{
  width:90%;
  color:$white;
  font-size:30px;
  line-height:1.1;
  margin-bottom:10px;
}

.explanation-left > .country{
  height:25px;
  width:200px;
  color:$white;
  margin-bottom:10px;
}

.explanation-left > .review{
  height:25px;
  width:150px;
  font-size:14px;
  color:$white;
  margin-bottom:10px;
}

.explanation-left > .review > .reviewscore{
  font-weight: bold;
  margin-right:5px;
}

.explanation-left > .review > .fas{
  margin-right:5px;
}

.explanation-left > .tags{
  height:50px;
  width:200px;
  display: flex;
  font-size:12px;
  flex-wrap :wrap;
  margin-bottom:10px;
  @media(max-width: 1130px){
    width:initial;
  }
  @media (max-width: 740px){
    width:initial;
  }
}

.explanation-left > .tags > .tag{
  background-color:$light-black;
  border-radius: 3px;
  height:20px;
  padding:0px 5px;
  margin-right:7px;
  color:$white;
  line-height:20px;
}

.explanation-left >.translation{
  width:270px;
}

.explanation-left >.translation > .border{
  margin-top:5px;
  border:  solid 2px;
  padding:10px 15px;
  display: flex;
  color:$white;
  text-align: center;
}

.explanation-left >.translation > .border > .fas{
  margin-right:5px;
  font-size:30px;
}

.explanation-left >.translation > .border > .translationfont{
  line-height:1.7;
}