.experience-container{
  height:100%;
  margin:0px 7px;
  color:$light-black;
}

.experience-container > .image{
  background-image: url("../src/image/Chernobyl.png");
  background-size:cover;
  border-radius: 10px;
  height:15vw;
  width:13vw;
  position: relative;
  @media (min-width:1110px) and (max-width: 1440px){
    height:22vw;
    width:18vw;
  } 
  @media (min-width:740px) and (max-width: 1110px){
    height:28vw;
    width:23vw;
  } 
  @media (max-width: 740px){
    height:55vw;
    width:45vw;
  } 
}

.experience-container > .image > .online{
  background-color:$black;
  width:65px;
  height:20px;
  font-size:12px;
  color:$white;
  position: absolute;
  left:15px;
  top:10px;
  border-radius: 5px;
  font-weight: bold;
  padding-left:3px;
  line-height:20px;
}

.experience-container > .country{
  margin:5px 0px;
  font-size:12px;
  font-weight: bold;
  max-width:200px;
  white-space:pre-wrap;
}

.experience-container > .minititle{
  margin-bottom:6px;
  max-width:200px;
  white-space:pre-wrap;
}

.experience-container > .price{
  font-size:15px;
}

.experience-container > .review{
  font-size:12px;
}

.experience-container > .review > .fas{
  margin-right:3px;
}

.experience-container > .review > .reviewcount{
  color:$gray;
  margin-left:3px;
}

.experience-container:nth-child(2) > .image{
  background-image: url("../src/image/farm.png");
}
.experience-container:nth-child(3) > .image{
  background-image: url("../src/image/zazen.png");
}
.experience-container:nth-child(4) > .image{
  background-image: url("../src/image/gogh.png");
}
.experience-container:nth-child(5) > .image{
  background-image: url("../src/image/yagi.png");
}
.experience-container:nth-child(6) > .image{
  background-image: url("../src/image/table.png");
}