.fixed-footer{
  height:70px;
  width:100%;
  border-top:$compact-disc-grey solid 1px;
  position: absolute;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content:space-between;
  background-color:$white;
  line-height:70px;
  padding:0px 0px;
  @media (max-width: 1130px){
    line-height:initial;
  }
}

.fixed-footer > .heading{
  display: flex;
  padding-left:30px;
  @media (max-width: 1130px){
    display: none;
  }
}

.fixed-footer > .heading > img{
  margin-top:10px;
  border-radius: 50%;
}

.fixed-footer > .heading > .title{
  margin:0px 10px;
  font-size:13px;
  font-weight: bold;
}

.fixed-footer > .heading > .review{
  font-size:10px;
  font-weight: bold;
  color:$green-riviera-paradise;
}

.fixed-footer > .heading > .count{
  font-size:10px;
  color:$grey;
}

.fixed-footer > .detail{
  display: flex;
  padding-right:30px;
  @media (max-width: 1130px){
    display: none;
  }
}

.fixed-footer > .detail > .price{
  font-weight: bold;
  font-size:13px;
}

.fixed-footer > .detail > .btn{
  background-color:$red-pelati;
  color:$white;
  font-weight: bold;
  text-align: center;
  width:200px;
  height:50px;
  line-height:50px;
  margin:10px 0px 0px 30px;
  border-radius: 5px;
}

.fixed-footer >.entry{
  @media (max-width: 1920px){
    display: none;
  }
  @media (max-width: 1130px){
    font-size:10px;
    padding:17px;
    display: initial;
  }
}

.fixed-footer > .entry > .price{
  @media (max-width: 1130px){
  font-weight: bold;
  font-size:13px;
  }
}

.fixed-footer > .entry > .review{
  @media (max-width: 1130px){
  color:$green-riviera-paradise;
  display: flex;
  }
}

.fixed-footer > .entry > .review > .value{
  @media (max-width: 1130px){
  font-weight: bold;
  }
}

.fixed-footer > .entry > .review > .fas{
  @media (max-width: 1130px){
  line-height:1.5;
  }
}

.fixed-footer > .entry > .review > .count{
  @media (max-width: 1130px){
  font-size:10px;
  color:$grey;
  }
}

.fixed-footer  > .implementation{
  @media (max-width: 1920px){
    display: none;
  }
  @media (max-width: 1130px){
  background-color:$red-pelati;
  color:$white;
  font-weight: bold;
  text-align: center;
  width:200px;
  height:50px;
  line-height:50px;
  margin:10px 0px 0px 30px;
  border-radius: 5px;
  margin-right:10px;
  display: initial;
  }
}

.black{
  background-color:$black;
  color:$white;
  border-top:initial;
}