.header-nav{
  display: flex;
  list-style: none;
}

.header-nav > .onlineheaderlist{
  padding:10px;
  text-decoration:none;
  font-size:15px;
  color:$white;
}

.header-nav > .grayregister{
  border-radius: 20px;
  background-color:$light-black;
  height:20px;
}

.header-nav > .onlineheaderlist > .fa-globe{
  margin-right:7px;
}