.hostintroduction-container{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$dark-engine;
  display: flex;
  @media (max-width: 740px){
    display: initial;
  }
}

.hostintroduction-container > .sticky{
  width: 20vw;
  height: 10vh;
  position: -webkit-sticky; 
  position: sticky; 
  top: 55px; 
  left: 0; 
  @media (max-width: 740px){
    width:initial;
    position: initial;
  }
}

.hostintroduction-container > .sticky > .title{
  font-size:30px;
  font-weight: bold;
  min-width:150px;
  padding-top:40px; 
  @media (max-width: 740px){
    font-size:23px;
    padding:20px 0px 0px 20px;
  }
 
}

.hostintroduction-container > .messageblock {
  padding-top:45px;
  padding-left:100px;
  @media (max-width: 740px){
    padding:0px 20px;
  }
}

.hostintroduction-container > .messageblock > img {
  border-radius: 50%; 
  @media (max-width: 740px){
    margin-top:30px;
  }
}

.hostintroduction-container > .messageblock > .icon {
  font-size:22px;
  font-weight: bold;
  margin-top:10px;
  @media (max-width: 740px){
    margin-top:30px;
  }
}

.hostintroduction-container > .messageblock > .message{
  line-height:2.0;
  max-width:1000px;
}

.hostintroduction-container > .messageblock > .contact{
  color:$green-riviera-paradise;
  margin:20px 0px;
  border: $green-riviera-paradise solid 2px;
  border-radius:5px;
  width:100px;
  padding:10px 10px;
  font-weight: bold;
}