.image-container{
  width:95vw;
  max-width:1200px;
  display:flex;
  margin:20px auto;
  position: relative;
  height:30vw;
}

.image-container > .middleimage{ 
  width:28vw;
  margin:0px 5px;
  background-size:cover;
  background-image:url("../src/image/dance.png");
}

.image-container > .middleimage:nth-child(2){
  background-image:url("../src/image/phoenix.png");
}

.image-container > .middleimage:nth-child(4){
  background-image:url("../src/image/cooking.png");
}

.image-container > .smallimageblock{
  width:15vw;
}

.image-container > .smallimageblock > .smallimage{
  height:49.5%;
  background-size:cover;
  background-image:url("../src/image/drink.png");
  margin-bottom:5px;
}

.image-container > .smallimageblock > .smallimage:nth-child(2){
  height:49.5%;
  background-size:cover;
  background-image:url("../src/image/shoot.png");
} 