.image-container{
  width:95%;
  max-width:1200px;
  display:flex;
  margin:20px auto;
  position: relative;
  height:50%;
}

.image-container > .middle{ 
  width:28%;
  margin:0px 5px;
  background-size:cover;
  background-image:url("../src/image/dance.png");
}

.image-container > .middle:nth-child(2){
  background-image:url("../src/image/phoenix.png");
}

.image-container > .middle:nth-child(4){
  background-image:url("../src/image/cooking.png");
}

.image-container > .small{
  width:15%;
}

.image-container > .small > .image{
  height:49.5%;
  background-size:cover;
  background-image:url("../src/image/drink.png");
  margin-bottom:5px;
}

.image-container > .small > .image:nth-child(2){
  height:49.5%;
  background-size:cover;
  background-image:url("../src/image/shoot.png");
} 