 .list-block{
  padding-top:45px;
  padding-left:100px;
  width:100%;
  @media (max-width: 740px){
    padding-left:20px;
    width:90%;
  }
}
 .list-block > .list{
  height:65px;
  margin-top:30px;
  border-bottom:$bodergray solid 1px;
  display: flex;
}
 .list-block > .list > .far{
  font-size:30px;
  margin-right:10px;
}
 .list-block > .list > .belongfont{
  line-height:2;
  font-size:15px;
}
 .list-block > .list > .belongfont > .moresee{
  color:$light-green;
}
