.note-list{
  display: flex;
  border-bottom:$compact-disc-grey solid 1px;
  padding-bottom:40px;
  margin-bottom:40px;
  padding-left:30px;
  @media (max-width: 1130px){
    margin-bottom:20px;
    padding-bottom:20px;
  }
}

.note-list > .title{
  width:250px;
  font-size:24px;
  font-weight: bold;
  margin-right:20px;
  @media (max-width: 1130px){
    font-size:18px;
    width:90%;
  }
}

.note-list > .summary{
  width:90%;
  @media (max-width: 1130px){
    display:none;
  }
}

.note-list > .summary > .more{
  color:$green-riviera-paradise;
  font-weight: bold;
  font-size:14px; 
}

.note-list > .fas {
  opacity:0;
  @media (max-width: 1130px){
    font-size:25px;
    opacity: 1;
  }
}
