.online-link{
  display: flex;
  justify-content:space-between;
  border-top:$compact-disc-grey solid 1px;
  border-bottom:$compact-disc-grey solid 1px;
  background-color:$white-smoke;
  @media (max-width: 1130px){
    display: inline-block;
    width:100%;
    color:$dark-engine;
  }
}

.online-link > .linkcollection{
  width:25%;
  padding:30px;
  @media(max-width: 1130px){
    width:85%;
    border-bottom:solid 1px $compact-disc-grey;
    margin:20px;
    padding-bottom:20px;
    color:$dark-engine;
  }
}

.online-link > .linkcollection >.title{
  font-weight:bold;
  font-size:12px;
  margin-bottom:10px;
}