.other_trial-container{
  margin:0 auto;
  max-width:1500px;
  padding:100px 20px;
  border-bottom:$bodergray solid 1px;
}

.other_trial-container > .title{
  font-size:30px;
  font-weight: bold;
  color:$light-black;
}

.other_trial-container > .display_all{
  margin-top:50px;
  color:$light-green;
  font-weight: bold;
}