.reviewword-item{
  margin-left:20px;
}

.reviewword-item > .reviewuser{
  display:flex;
  font-size:15px;
}

.reviewword-item > .reviewuser > .username{
  font-weight: bold;
  margin-right:5px;
}

.reviewword-item > .reviewuser > .reviewcreated{
  font-size:13px;
  line-height:2;
}
.reviewword-item > .reviewstar > .fas{
  color:$green-riviera-paradise;
  }