.review-right{
  margin-left:20px;
}

.review-right > .reviewuser{
  display:flex;
  font-size:15px;
}

.review-right > .reviewuser > .username{
  font-weight: bold;
  margin-right:5px;
}

.review-right > .reviewuser > .month{
  font-size:13px;
  line-height:2;
}
.review-right > .reviewstar > .fas{
  color:$light-green;
  }