.review_word-item{
  margin-left:20px;
}

.review_word-item > .review_user{
  display:flex;
  font-size:15px;
}

.review_word-item > .review_user > .user_name{
  font-weight: bold;
  margin-right:5px;
}

.review_word-item > .review_user > .review_created{
  font-size:13px;
  line-height:2;
}
.review_word-item > .reviewstar > .fas{
  color:$light-green;
  }