.search-box{
  display: flex;
  height:45px;
  background-color:$explanation;
  border-radius: 15px;
  color:$light-gray;
  font-size:14px;
  width:280px;
  z-index: 1;
}

.search-box > .form{
  width:40%;
  border-right: thin solid $bodergray;
  text-align: center;
  line-height:45px;
}

.search-box > .form:nth-child(3){
  border-right:initial;
  font-size:20px;
  width:10%;
  padding-left:20px;
}