.share-save{
  width:200px;
  height:40px;
  position: absolute;
  right:30px;
  top:20px;
  display: flex;
  justify-content:space-between;
  @media (max-width: 740px){
    display: none;
  }
}

.share-save > .share{
  background-color:$light-gray;
  border-radius: 5px;
  display: flex;
  justify-content:space-between;
  padding:12px 15px 15px 15px;
  line-height:1;
  font-size:14px;
  font-weight: bold;
}

.share-save > .share > .fas{
  padding-right:10px;
}

.share-save > .like{
  background-color:$light-gray;
  border-radius: 5px;
  display: flex;
  justify-content:space-between;
  padding:12px 15px 15px 15px;
  line-height:1;
  font-size:14px;
  font-weight: bold;
}

.share-save > .like > .far{
  padding-right:10px;
  }