.short_header-nav{
  display: flex;
  list-style: none;
}

.short_header-nav > .list{
  padding:10px;
  text-decoration:none;
  font-size:15px;
  color:$white;
}

.short_header-nav > .signup{
  border-radius: 20px;
  background-color:$light-black;
  height:20px;
}

.short_header-nav > .list > .fa-globe{
  margin-right:7px;
}