.white-header{
@media (max-width: 740px){
  background-color:$white;
  height:20px;
  padding:20px 20px;
  display: flex;
  justify-content:space-between;
  width:95%;
  }
}

.white-header > .whiteleft{
  @media (max-width: 740px){
  font-size:14px;
  font-weight: bold;
  }
}

.white-header > .whiteright{
  @media (max-width: 740px){
  color:$gray;
  font-size:17px;
  }
}

.white-header > .whiteright > .fas{
  @media (max-width: 740px){
  margin-right:15px;
  }
}