// 〜しよう/文字
.letslist{
  padding:0px 30px;
  >.letstitle{
    font-size:25px;
    font-weight: bold;
    margin-top:20px;
  }
  >.letscomment{
    margin-top:20px;
    line-height:2;
    width:300px;
  }
} 
// 詳しい流れ
.procedure{
  display: flex;
  margin:40px 0px;
  >.procedureleft{
    height:400px;
    width:450px;
  }
  >.procedureright{
    padding-left:60px;
    margin-top:110px;
    >.proceduretitle{
      font-size:23px;
      font-weight: bold;
    }
    >.proceduretext{
      margin-top:20px;
      max-width:450px;
      line-height:1.5;
      > span{
        color:$dark-green;
        text-decoration: underline;
      }
    }
  }
}