// 〜しよう/文字
.letslist{
  padding:0px 30px;
  >.letstitle{
    font-size:25px;
    font-weight: bold;
    margin-top:20px;
  }
  >.letscomment{
    margin-top:20px;
    line-height:2;
    width:300px;
  }
} 