@import "../color";

.body{
  width:100vw;
  height:100vh;
}

.section-layout{
  width:100%;
  position: relative;
}
// ヘッダー
.section-layout > .header{
  height:200px;
  position: relative;
  .fab{
    font-size:35px;
    color:$red;
    position: absolute;
    top:20px;
    left:20px;
  }
}
// 見出し
.section-layout > .headline{
  margin:0 auto;
  text-align: center;
  width:1100px;
  .minititle{
    font-weight: bold;
    font-size:14px;
  }
  .bigtitle{
    font-weight: bold;
    font-size:60px;
  }
  .join{
    font-size:25px;
    width:65%;
    margin:50px auto;
  }
  .startbtn{
    font-size:14px;
    color:$white;
    border-radius: 5px;
    background-color:$btn-red;
    height:50px;
    line-height:50px;
    width:125px;
    margin:50px auto;
  }
}

// 集合写真
.section-layout > .allstar{
  max-width:1500px; 
  max-height:1000px;
  margin:200px auto;
  display:block;
}
// 活動説明
.section-layout > .activity{
  max-width:700px;
  font-size:25px;
  margin:0 auto;
}
// 〜しよう
.section-layout > .lets{
  display:flex;
  max-width:1100px;
  margin:300px auto;
  color:$light-60;
  @import "components";
}
// 流れ
.section-layout > .flow{
  max-width:700px;
  margin:100px auto;
  color:$light-60;
  >.flowtitle{
    font-weight: bold;
    font-size:45px;
    text-align: center;
    
  }
  >.flowcomment{
    font-size:25px;
    text-align: center;
    margin-top:150px;
  }
}