@mixin imagebox {
  width:28vw;
  margin:0px 5px;
  background-size:cover;
}

@mixin smallimagebox{
  height:49.5%;
  background-size:cover;
}

@mixin snsbtn{
  background-color:#fcfcfc;
  border-radius: 5px;
  display: flex;
  justify-content:space-between;
}

@mixin snsbtn-font{
  padding:12px 15px 15px 15px;
  line-height:1;
  font-size:14px;
  font-weight: bold;
}

@mixin mainpage{
  width:95vw;
  max-width:1200px;
  display:flex;
  margin:20px auto;
  position: relative;
}

@mixin title{
  width:300px;
  font-size:30px;
  font-weight: bold;
}

@mixin center{
    margin:0 auto;
    max-width:1200px;
    padding:45px;
    color:#5f5f5f;
}

@mixin size22 {
  font-size:22px;
  font-weight: bold;
}

@mixin greenbtn {
  color:#008489;
  margin:20px 0px;
  border: #008489 solid 2px;
  border-radius:5px;
  width:140px;
  padding:10px 20px;
  font-weight: bold;
}

@mixin challengeresponsive{
  display: initial;
  > .section-text{
    width:95%;
    display: flex;
    margin-bottom:30px;
    > .minititle{
      display: none;
    }
    >.minitext{
      margin-left:20px;
      font-size:14px;
    }
  }
}