@mixin imagebox {
  width:28vw;
  margin:0px 5px;
  background-size:cover;
}

@mixin smallimagebox{
  height:49.5%;
  background-size:cover;
}

@mixin snsbtn{
  background-color:#fcfcfc;
  border-radius: 5px;
  display: flex;
  justify-content:space-between;
}

@mixin snsbtn-font{
  padding:12px 15px 15px 15px;
  line-height:1;
  font-size:14px;
  font-weight: bold;
}

@mixin mainpage{
  width:95vw;
  max-width:1200px;
  display:flex;
  margin:20px auto;
  position: relative;
}

@mixin title{
  width:300px;
  font-size:33px;
  font-weight: bold;
}