.section-layout{
  @media (max-width: 740px){
    
    > .blackbox{
      // 黒枠/ヘッダー
      > .experiencesheader{
        display: none;
      }
      > .whiteheader{
        background-color:#fff;
        height:65px;
        padding:20px 20px;
        display: flex;
        justify-content:space-between;
        width:100%;
        > .left{
          font-size:14px;
          font-weight: bold;
        }
        >.right{
          color:rgb(116, 114, 114);
          font-size:17px;
          >.fas{
            margin-right:15px;
          }
        }
      }
      >.imagebox > .snsbtn {
        display: none;
      }
      > .explanation{
        display: initial;

        >.left{
          width:initial;
          padding:0px 20px;
          > .tags{
            width:initial;
          }
        }
        > .right{
          width: initial;
          margin-left:initial;
          padding:0px 20px;
          > .devise{
            padding:initial;
            position: relative;
            line-height:initial;
            height:60px;
            p{
              padding:10px;
              width:90%;
            }
            img{
              position: absolute;
              right:0px;
            }
          }
          >.specs{
            width:500px;
            flex-wrap :wrap;
            
            >.section-spec{
              width:200px;
          }
        }
      }
    }
  }
}

  @media (min-width:741px) and (max-width: 1120px){
    >.blackbox{
      position: relative;
      height:900px; 
    }
    >.blackbox > .explanation{
      > .left {
        width:55%;
        .tags {
          width:initial;
        }
      }
      > .right {
        margin-left: initial;
        > .devise{
          height:70px;
          line-height:initial;
          }
        > .specs{
          width:55vw;
          height:initial;
          position: absolute;
          left:30px;
          bottom:-100px;
          }
        }
      } 
    }
}