@import "mixin";

.section-layout{

  // 740px以下
  @media (max-width: 740px){
    > .fixedheader{
      opacity: 0;
    }
    > .blackbox{
      > .experiencesheader{
        display: none;
      }
      > .whiteheader{
        background-color:#fff;
        height:65px;
        padding:20px 20px;
        display: flex;
        justify-content:space-between;
        width:100%;
        > .left{
          font-size:14px;
          font-weight: bold;
        }
        >.right{
          color:rgb(116, 114, 114);
          font-size:17px;
          >.fas{
            margin-right:15px;
          }
        }
      }
      >.imagebox > .snsbtn {
        display: none;
      }
      > .explanation{
        display: initial;
        >.left{
          width:initial;
          padding:0px 20px;
          > .tags{
            width:initial;
          }
        }
        > .right{
          width: initial;
          margin-left:initial;
          padding:0px 20px;
          > .devise{
            padding:initial;
            position: relative;
            line-height:initial;
            height:60px;
            p{
              padding:15px;
              width:90%;
            }
            img{
              position: absolute;
              right:0px;
            }
          }
          >.specs{
            width:500px;
            flex-wrap :wrap;
            
            >.section-spec{
              width:200px;
          }
        }
      }
    }
  }
  >.canexperience{
    @include titleresponsive;
    >.text{
      padding-left:initial;
      margin:30px 20px;
    }
  }
  > .challenge-background{
    height:auto;
    > .challenge{
      display: initial;
      >.title{
        width:90%;
        height:60px;
        margin:10px 0px 0px 20px;
        font-size:23px;
        border-bottom:#cacaca solid 1px;
      }
    }
  }
  > .challenge-background  > .challenge{
    > .texts{
      @include challengeresponsive;
    }
  }
  > .hosts{
    @include titleresponsive;
    > .hostdata {
      padding:0px 20px;
      img{
        margin-top:30px;
      }
      >.hostname{
        margin-top:30px;
      }
    }
  }
  >.belongings{
    @include titleresponsive;
    >.texts{
      @include textresponsive;
    }
  }
  >.participation{
    @include titleresponsive; 
    >.texts{
      @include textresponsive;
      width:98%;
      margin-top:30px;
      >.videocall > .section-title {
        font-size:18px;
      }
      .charter > .section-title {
        font-size:18px;
        margin:20px 0px;
      }
    }
  }
  >.guestreview{ 
    @include titleresponsive;
    >.titles{
      @include textresponsive;
      margin-top:30px;
      >.sticky{
        width:initial;
        >.title{
          font-size:23px;
        }
      }
    }
    >.reviews{
      padding:30px 20px;
    }
    >.reviews > .section-review >.pagination{
      >span{
        display: none;
      }
      >.bot{
        display: none;
      }
      >.no233{
        display: none;
      }
      >.fas{
        margin-left:initial;
      }
    }
  }
  > .reservation > .title {
    font-size:22px;
  }
  > .section-linkcollections{
    display: none;
  }
  >.note{
    display: initial;
    >.sticky {
      width:initial;
      height:80px;
      position: initial;
      >.title{
        font-size:23px;
        padding-left:50px;
      }
    }
  }
  > .topfooter{ 
    text-align:initial;
    margin:10px;
  > .right{
        margin:initial;
    > .sns{
        display: none;
      }
    }
  } 
}



  // 741px~1130px
  @media (min-width:741px) and (max-width: 1130px){
  >.blackbox{
    position: relative;
    height:900px; 
  }
  >.blackbox > .explanation{
    > .left {
      width:55%;
      .tags {
        width:initial;
      }
    }
    > .right {
      margin-left: initial;
      > .devise{
        height:70px;
        line-height:initial;
        }
      > .specs{
        width:55vw;
        height:initial;
        position: absolute;
        left:30px;
        bottom:-100px;
        }
      }
    } 
    > .challenge-background  > .challenge{
      >.title{
        width:280px;
      }
      > .texts{
        @include challengeresponsive;
        padding-left:initial;
        >.section-text >.minitext{
          font-size:16px;
        }
      }
    }
    > .section-linkcollections{
      display: inline;
    > .section-linkcollection{
        width:100%;
        border-bottom:solid 1px rgb(131, 131, 131);
        margin:20px;
        padding-bottom:20px;
      }
    }
    > .section-linkcollections > .section-linkcollection ul{
        display:flex;
        flex-wrap: wrap;
      > li{
          width:33%;
      }
    }
    > .topfooter{
        flex-wrap :wrap-reverse;
        width:700px;
        margin:0 auto;
        text-align: center;
      > .right{
          margin:0 auto;
      }
    }
  }



  // 1130px以下
  @media (max-width: 1130px){

  >.note > .texts{
    width:100%;
    }
    >.note > .texts > .section-text{
      margin-bottom:20px;
      padding-bottom:20px;
      >.minititle{
        font-size:18px;
        width:90%;
      }
      >.text{
      display:none;
      }
    } 
    >.fixedfooter{
      line-height:initial;
      >.left{
        display: none;
      }
      >.right{
        display: none;
      }
      >.minileft{
        font-size:10px;
        >.price{
          font-weight: bold;
          font-size:13px;
        }
      }
      >.minileft{
       padding:17px 0px;
       >.price{
        font-weight: bold;
        font-size:13px;
       }
       >.review{
        color:#008489;
        display: flex;
        p{
          font-weight: bold;
        }
        >.fas{
          line-height:1.5;
        }
        span{
          font-size:10px;
          color:#5f5f5f;
        }
       }
      }
      >.miniright{
        @include daybtn;
      }
    }
  }

  // 1130px以上
  @media (min-width: 1130px){
    > .note > .texts > .section-text > .fas {
      display:none;
    }
    >.fixedfooter >.minileft{
      display: none;
    }
    >.fixedfooter >.miniright{
      display: none;
    }
  }

  // その他のオンライン体験
   .otherexperiences > .experiences > .section-experience > .image{
    @media (min-width:1110px) and (max-width: 1440px){
      height:22vw;
      width:18vw;
    } 
    @media (min-width:740px) and (max-width: 1110px){
      height:28vw;
      width:23vw;
    } 
    @media (max-width: 740px){
      height:55vw;
      width:45vw;
    } 
  }  
}