@media (max-width: 740px) {
  .section-layout > .blackbox > .experiencesheader {
    display: none;
  }
  .section-layout > .blackbox > .whiteheader {
    background-color: #fff;
    height: 65px;
    padding: 20px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .section-layout > .blackbox > .whiteheader > .left {
    font-size: 14px;
    font-weight: bold;
  }
  .section-layout > .blackbox > .whiteheader > .right {
    color: #747272;
    font-size: 17px;
  }
  .section-layout > .blackbox > .whiteheader > .right > .fas {
    margin-right: 15px;
  }
  .section-layout > .blackbox > .imagebox > .snsbtn {
    display: none;
  }
  .section-layout > .blackbox > .explanation {
    display: initial;
  }
  .section-layout > .blackbox > .explanation > .left {
    width: initial;
    padding: 0px 20px;
  }
  .section-layout > .blackbox > .explanation > .left > .tags {
    width: initial;
  }
  .section-layout > .blackbox > .explanation > .right {
    width: initial;
    margin-left: initial;
    padding: 0px 20px;
  }
  .section-layout > .blackbox > .explanation > .right > .devise {
    padding: initial;
    position: relative;
    line-height: initial;
    height: 60px;
  }
  .section-layout > .blackbox > .explanation > .right > .devise p {
    padding: 15px;
    width: 90%;
  }
  .section-layout > .blackbox > .explanation > .right > .devise img {
    position: absolute;
    right: 0px;
  }
  .section-layout > .blackbox > .explanation > .right > .specs {
    width: 500px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-layout > .blackbox > .explanation > .right > .specs > .section-spec {
    width: 200px;
  }
  .section-layout > .canexperience {
    display: initial;
  }
  .section-layout > .canexperience > .title {
    font-size: 23px;
    padding: 20px 0px 0px 20px;
  }
  .section-layout > .canexperience > .text {
    padding-left: initial;
    margin: 30px 20px;
  }
  .section-layout > .challenge-background {
    height: auto;
  }
  .section-layout > .challenge-background > .challenge {
    display: initial;
  }
  .section-layout > .challenge-background > .challenge > .title {
    width: 90%;
    height: 60px;
    margin: 10px 0px 0px 20px;
    font-size: 23px;
    border-bottom: #cacaca solid 1px;
  }
  .section-layout > .challenge-background > .challenge > .texts {
    display: initial;
  }
  .section-layout > .challenge-background > .challenge > .texts > .section-text {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
  .section-layout > .challenge-background > .challenge > .texts > .section-text > .minititle {
    display: none;
  }
  .section-layout > .challenge-background > .challenge > .texts > .section-text > .minitext {
    margin-left: 20px;
    font-size: 14px;
  }
  .section-layout > .hosts {
    display: initial;
  }
  .section-layout > .hosts > .title {
    font-size: 23px;
    padding: 20px 0px 0px 20px;
  }
  .section-layout > .hosts > .hostdata {
    padding: 0px 20px;
  }
  .section-layout > .hosts > .hostdata img {
    margin-top: 30px;
  }
  .section-layout > .hosts > .hostdata > .hostname {
    margin-top: 30px;
  }
  .section-layout > .belongings {
    display: initial;
  }
  .section-layout > .belongings > .title {
    font-size: 23px;
    padding: 20px 0px 0px 20px;
  }
  .section-layout > .belongings > .texts {
    padding-left: 20px;
    width: 90%;
  }
  .section-layout > .participation {
    display: initial;
  }
  .section-layout > .participation > .title {
    font-size: 23px;
    padding: 20px 0px 0px 20px;
  }
  .section-layout > .participation > .texts {
    padding-left: 20px;
    width: 90%;
    width: 98%;
    margin-top: 30px;
  }
  .section-layout > .participation > .texts > .videocall > .section-title {
    font-size: 18px;
  }
  .section-layout > .participation > .texts .charter > .section-title {
    font-size: 18px;
    margin: 20px 0px;
  }
  .section-layout > .guestreview {
    display: initial;
  }
  .section-layout > .guestreview > .title {
    font-size: 23px;
    padding: 20px 0px 0px 20px;
  }
  .section-layout > .guestreview > .titles {
    padding-left: 20px;
    width: 90%;
    margin-top: 30px;
  }
  .section-layout > .guestreview > .titles > .title {
    font-size: 23px;
  }
  .section-layout > .guestreview > .reviews {
    padding: 30px 20px;
  }
  .section-layout > .guestreview > .reviews > .section-review > .pagination > span {
    display: none;
  }
  .section-layout > .guestreview > .reviews > .section-review > .pagination > .bot {
    display: none;
  }
  .section-layout > .guestreview > .reviews > .section-review > .pagination > .no233 {
    display: none;
  }
  .section-layout > .guestreview > .reviews > .section-review > .pagination > .fas {
    margin-left: initial;
  }
  .section-layout > .reservation > .title {
    font-size: 22px;
  }
}

@media (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .blackbox {
    position: relative;
    height: 900px;
  }
  .section-layout > .blackbox > .explanation > .left {
    width: 55%;
  }
  .section-layout > .blackbox > .explanation > .left .tags {
    width: initial;
  }
  .section-layout > .blackbox > .explanation > .right {
    margin-left: initial;
  }
  .section-layout > .blackbox > .explanation > .right > .devise {
    height: 70px;
    line-height: initial;
  }
  .section-layout > .blackbox > .explanation > .right > .specs {
    width: 55vw;
    height: initial;
    position: absolute;
    left: 30px;
    bottom: -100px;
  }
  .section-layout > .challenge-background > .challenge > .title {
    width: 280px;
  }
  .section-layout > .challenge-background > .challenge > .texts {
    display: initial;
    padding-left: initial;
  }
  .section-layout > .challenge-background > .challenge > .texts > .section-text {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }
  .section-layout > .challenge-background > .challenge > .texts > .section-text > .minititle {
    display: none;
  }
  .section-layout > .challenge-background > .challenge > .texts > .section-text > .minitext {
    margin-left: 20px;
    font-size: 14px;
  }
  .section-layout > .challenge-background > .challenge > .texts > .section-text > .minitext {
    font-size: 16px;
  }
}

@media (max-width: 1130px) {
  .section-layout .note > .texts {
    width: 100%;
  }
  .section-layout .note > .texts > .section-text {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .section-layout .note > .texts > .section-text > .minititle {
    font-size: 18px;
    width: 90%;
  }
  .section-layout .note > .texts > .section-text > .text {
    display: none;
  }
}

@media (min-width: 1130px) {
  .section-layout > .note > .texts > .section-text > .fas {
    display: none;
  }
}
/*# sourceMappingURL=responsive.css.map */