@import "mixin";

.body{
  width:100vw;
  height:100vh;
}

.section-layout{
  width:100%;
  // 黒枠
  > .blackbox{
    background-color:black;
    height:1000px;
    padding:20px 120px;
    
    // 黒枠/ヘッダー
    > .experiencesheader{
    display: flex;
    justify-content:space-between;
    padding:0px 40px;
    }
  }
  > .blackbox > .experiencesheader{
    > .searchbox{
      display: flex;
      height:45px;
      background-color:rgb(51, 51, 51);
      border-radius: 15px;
      color:rgb(223, 221, 221);
      font-size:14px;
      width:280px;
      > .section-form{
        width:40%;
        border-right: thin solid rgb(150, 150, 150);
        text-align: center;
        line-height:45px;
      }
      > .section-form:nth-child(3){
        border-right:initial;
        font-size:20px;
        width:10%;
        padding-left:20px;
      }
    }
    > .menu ul{
      display: flex;
      list-style: none;
       li{
        padding:10px;
         a{
          text-decoration:none;
          font-size:15px;
          color:#fff;
        }
         .fa-globe{
          margin-right:7px;
        }
        .register{
          padding:15px;
          border-radius: 20px;
          background-color:rgb(51, 51, 51);
        }
      }
    }
  }
    // 黒枠/画像
    >.blackbox > .imagebox{
      width:75vw;
      height:30vw;
      display:flex;
      margin:20px auto;
      position: relative;
      > .imagesmile{ 
        @include imagebox ;
        background-image:url("/Users/mikaijun/airbnb/image/dance.png");
    }
      > .imagephoenix{ 
        @include imagebox ;
        background-image:url("/Users/mikaijun/airbnb/image/phoenix.png");
    }
      > .smallimages{
        width:15vw;
        > .imagedrink{
          @include smallimagebox;
          background-image:url("/Users/mikaijun/airbnb/image/drink.png");
          margin-bottom:5px;
      }
        > .imageshoot{
          @include smallimagebox;
          background-image:url("/Users/mikaijun/airbnb/image/shoot.png");
      }
    }
      > .imagecooking{ 
        @include imagebox ;
        background-image:url("/Users/mikaijun/airbnb/image/cooking.png");
    }
    > .snsbtn{
      width:200px;
      height:40px;
      position: absolute;
      right:30px;
      top:20px;
      display: flex;
      justify-content:space-between;
      > .share{
        @include snsbtn;
        @include snsbtn-font;
        > .fas{
          padding-right:10px;
        }
      }
      > .like{
        @include snsbtn;
        @include snsbtn-font;
        > .far{
          padding-right:10px;
        }
      }
    }
  }
  > .blackbox > .explanation{
    width:1000px;
    height:300px;
    background-color:red;
    margin-left:100px;
  }
}