.body {
  width: 100vw;
  height: 100vh;
}

.section-layout {
  width: 100%;
}

.section-layout > .blackbox {
  background-color: black;
  padding: 20px 0px;
}

.section-layout > .blackbox > .experiencesheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.section-layout > .blackbox > .experiencesheader > .searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 45px;
  background-color: #333333;
  border-radius: 15px;
  color: #dfdddd;
  font-size: 14px;
  width: 280px;
}

.section-layout > .blackbox > .experiencesheader > .searchbox > .section-form {
  width: 40%;
  border-right: thin solid #969696;
  text-align: center;
  line-height: 45px;
}

.section-layout > .blackbox > .experiencesheader > .searchbox > .section-form:nth-child(3) {
  border-right: initial;
  font-size: 20px;
  width: 10%;
  padding-left: 20px;
}

.section-layout > .blackbox > .experiencesheader > .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.section-layout > .blackbox > .experiencesheader > .menu ul li {
  padding: 10px;
}

.section-layout > .blackbox > .experiencesheader > .menu ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}

.section-layout > .blackbox > .experiencesheader > .menu ul li .fa-globe {
  margin-right: 7px;
}

.section-layout > .blackbox > .experiencesheader > .menu ul li .register {
  padding: 15px;
  border-radius: 20px;
  background-color: #333333;
}

.section-layout > .blackbox > .imagebox {
  width: 95vw;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  position: relative;
  height: 30vw;
}

.section-layout > .blackbox > .imagebox > .imagesmile {
  width: 28vw;
  margin: 0px 5px;
  background-size: cover;
  background-image: url("/Users/mikaijun/airbnb/image/dance.png");
}

.section-layout > .blackbox > .imagebox > .imagephoenix {
  width: 28vw;
  margin: 0px 5px;
  background-size: cover;
  background-image: url("/Users/mikaijun/airbnb/image/phoenix.png");
}

.section-layout > .blackbox > .imagebox > .smallimages {
  width: 15vw;
}

.section-layout > .blackbox > .imagebox > .smallimages > .imagedrink {
  height: 49.5%;
  background-size: cover;
  background-image: url("/Users/mikaijun/airbnb/image/drink.png");
  margin-bottom: 5px;
}

.section-layout > .blackbox > .imagebox > .smallimages > .imageshoot {
  height: 49.5%;
  background-size: cover;
  background-image: url("/Users/mikaijun/airbnb/image/shoot.png");
}

.section-layout > .blackbox > .imagebox > .imagecooking {
  width: 28vw;
  margin: 0px 5px;
  background-size: cover;
  background-image: url("/Users/mikaijun/airbnb/image/cooking.png");
}

.section-layout > .blackbox > .imagebox > .snsbtn {
  width: 200px;
  height: 40px;
  position: absolute;
  right: 30px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-layout > .blackbox > .imagebox > .snsbtn > .share {
  background-color: #fcfcfc;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 15px 15px 15px;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
}

.section-layout > .blackbox > .imagebox > .snsbtn > .share > .fas {
  padding-right: 10px;
}

.section-layout > .blackbox > .imagebox > .snsbtn > .like {
  background-color: #fcfcfc;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 15px 15px 15px;
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
}

.section-layout > .blackbox > .imagebox > .snsbtn > .like > .far {
  padding-right: 10px;
}

.section-layout > .blackbox > .explanation {
  width: 95vw;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px auto;
  position: relative;
}

.section-layout > .blackbox > .explanation > .left {
  width: 25%;
}

.section-layout > .blackbox > .explanation > .left > .icon {
  height: 20px;
  width: 120px;
  background-color: #fcfcfc;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 10px;
}

.section-layout > .blackbox > .explanation > .left > .icon > .fas {
  padding-right: 5px;
  font-size: 9px;
}

.section-layout > .blackbox > .explanation > .left > .icon > p {
  font-size: 12px;
  line-height: 0.9;
}

.section-layout > .blackbox > .explanation > .left > .title {
  width: 90%;
  color: #fff;
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 10px;
}

.section-layout > .blackbox > .explanation > .left > .country {
  height: 25px;
  width: 200px;
  color: #fff;
  margin-bottom: 10px;
}

.section-layout > .blackbox > .explanation > .left > .review {
  height: 25px;
  width: 150px;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

.section-layout > .blackbox > .explanation > .left > .review span {
  font-weight: bold;
  margin-right: 5px;
}

.section-layout > .blackbox > .explanation > .left > .review .fas {
  margin-right: 5px;
}

.section-layout > .blackbox > .explanation > .left > .tags {
  height: 50px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.section-layout > .blackbox > .explanation > .left > .tags > .section-tag {
  background-color: #333333;
  border-radius: 3px;
  height: 20px;
  padding: 0px 5px;
  margin-right: 7px;
  color: #fff;
}

.section-layout > .blackbox > .explanation > .left > .translation {
  width: 90%;
}

.section-layout > .blackbox > .explanation > .left > .translation .border {
  margin-top: 5px;
  border: #fff solid 2px;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-align: center;
}

.section-layout > .blackbox > .explanation > .left > .translation .border .fas {
  margin-right: 5px;
  font-size: 30px;
}

.section-layout > .blackbox > .explanation > .left > .translation .border p {
  line-height: 1.7;
}

.section-layout > .blackbox > .explanation > .right {
  width: 50%;
  margin-left: 80px;
}

.section-layout > .blackbox > .explanation > .right > .devise {
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: gray solid 1px;
  border-bottom: gray solid 1px;
  color: #fff;
  font-size: 14px;
  line-height: 57px;
  padding: 10px 0px;
}

.section-layout > .blackbox > .explanation > .right > .specs {
  height: 150px;
  width: 70%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  color: #fff;
}

.section-layout > .blackbox > .explanation > .right > .specs > .section-spec > .fas {
  color: gray;
  margin-bottom: 10px;
}

.section-layout > .blackbox > .explanation > .right > .specs > .section-spec > .section-title {
  color: gray;
}

.section-layout > .canexperience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 45px;
  color: #5f5f5f;
}

.section-layout > .canexperience > .title {
  width: 300px;
  font-size: 33px;
  font-weight: bold;
}

.section-layout > .canexperience > .text {
  max-width: 900px;
  line-height: 2.0;
  padding-left: 100px;
}

.section-layout > .challenge-background {
  height: 400px;
  background-color: #f0efef;
}

.section-layout > .challenge-background > .challenge {
  margin: 0 auto;
  max-width: 1200px;
  padding: 45px;
  color: #5f5f5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
}

.section-layout > .challenge-background > .challenge > .title {
  width: 300px;
  font-size: 33px;
  font-weight: bold;
}

.section-layout > .challenge-background > .challenge > .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  padding-left: 100px;
}

.section-layout > .challenge-background > .challenge > .texts > .section-text {
  margin: 0px 20px;
  width: 33%;
}

.section-layout > .challenge-background > .challenge > .texts > .section-text > .minititle {
  font-weight: bold;
}

.section-layout > .hosts {
  margin: 0 auto;
  max-width: 1200px;
  padding: 45px;
  color: #5f5f5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-layout > .hosts > .title {
  width: 300px;
  font-size: 33px;
  font-weight: bold;
}

.section-layout > .hosts > .hostdata {
  padding-left: 100px;
}

.section-layout > .hosts > .hostdata > img {
  border-radius: 50%;
}

.section-layout > .hosts > .hostdata > .hostname {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

.section-layout > .hosts > .hostdata > .hosttext {
  line-height: 2.0;
  max-width: 1000px;
}

.section-layout > .hosts > .hostdata > .contact {
  color: #008489;
  margin: 20px 0px;
  border: #008489 solid 2px;
  border-radius: 5px;
  width: 140px;
  padding: 10px 20px;
  font-weight: bold;
}

.section-layout > .belongings {
  margin: 0 auto;
  max-width: 1200px;
  padding: 45px;
  color: #5f5f5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-layout > .belongings > .title {
  width: 300px;
  font-size: 33px;
  font-weight: bold;
}

.section-layout > .belongings > .texts {
  padding-left: 100px;
  width: 100%;
}

.section-layout > .belongings > .texts > .section-text {
  height: 50px;
  margin-top: 30px;
  border-bottom: #e6e6e6 solid 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-layout > .belongings > .texts > .section-text > .far {
  font-size: 30px;
  margin-right: 10px;
}

.section-layout > .belongings > .texts > .section-text > p {
  line-height: 2;
}

.section-layout > .belongings > .texts > .section-text span {
  color: #008489;
}

.section-layout > .participation {
  margin: 0 auto;
  max-width: 1200px;
  padding: 45px;
  color: #5f5f5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-layout > .participation > .title {
  width: 300px;
  font-size: 33px;
  font-weight: bold;
}

.section-layout > .participation > .texts {
  padding-left: 100px;
  width: 100%;
}

.section-layout > .participation > .texts > .videocall {
  border-bottom: #e6e6e6 solid 1px;
  padding-bottom: 50px;
}

.section-layout > .participation > .texts > .videocall > .section-title {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0px;
}

.section-layout > .participation > .texts > .videocall > .section-details {
  margin: 20px 0px;
  font-size: 18px;
}

.section-layout > .participation > .texts > .videocall > .section-details span {
  font-weight: bold;
  text-decoration: underline;
}

.section-layout > .participation > .texts > .videocall > .comment {
  background-color: #f0efef;
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  width: 800px;
}

.section-layout > .participation > .texts > .videocall > .comment span {
  font-size: 13px;
  font-weight: bold;
}

.section-layout > .participation > .texts > .charter > .section-title {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 0px;
}

.section-layout > .participation > .texts > .charter > .section-details {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */