@import "mixin";

.body{
  width:100vw;
  height:100vh;
}

.section-layout{
  width:100%;
  // 黒枠
  > .blackbox{
    background-color:black;
    padding:20px 0px;
    // 黒枠/ヘッダー
    > .experiencesheader{
    display: flex;
    justify-content:space-between;
    max-width:1400px;
    margin:0 auto;
    }
  }
  > .blackbox > .experiencesheader{
    > .searchbox{
      display: flex;
      height:45px;
      background-color:rgb(51, 51, 51);
      border-radius: 15px;
      color:rgb(223, 221, 221);
      font-size:14px;
      width:280px;
      > .section-form{
        width:40%;
        border-right: thin solid rgb(150, 150, 150);
        text-align: center;
        line-height:45px;
      }
      > .section-form:nth-child(3){
        border-right:initial;
        font-size:20px;
        width:10%;
        padding-left:20px;
      }
    }
    > .menu ul{
      display: flex;
      list-style: none;
       li{
        padding:10px;
         a{
          text-decoration:none;
          font-size:15px;
          color:#fff;
        }
         .fa-globe{
          margin-right:7px;
        }
        .register{
          padding:15px;
          border-radius: 20px;
          background-color:rgb(51, 51, 51);
        }
      }
    }
  }
    // 黒枠/画像
    >.blackbox > .imagebox{
      @include mainpage;
      height:30vw;
      > .imagesmile{ 
        @include imagebox ;
        background-image:url("/Users/mikaijun/airbnb/image/dance.png");
    }
      > .imagephoenix{ 
        @include imagebox ;
        background-image:url("/Users/mikaijun/airbnb/image/phoenix.png");
    }
      > .smallimages{
        width:15vw;
        > .imagedrink{
          @include smallimagebox;
          background-image:url("/Users/mikaijun/airbnb/image/drink.png");
          margin-bottom:5px;
      }
        > .imageshoot{
          @include smallimagebox;
          background-image:url("/Users/mikaijun/airbnb/image/shoot.png");
      }
    }
      > .imagecooking{ 
        @include imagebox ;
        background-image:url("/Users/mikaijun/airbnb/image/cooking.png");
    }
    > .snsbtn{
      width:200px;
      height:40px;
      position: absolute;
      right:30px;
      top:20px;
      display: flex;
      justify-content:space-between;
      > .share{
        @include snsbtn;
        @include snsbtn-font;
        > .fas{
          padding-right:10px;
        }
      }
      > .like{
        @include snsbtn;
        @include snsbtn-font;
        > .far{
          padding-right:10px;
        }
      }
    }
  }

  // 黒枠/説明文
  > .blackbox > .explanation{
    @include mainpage;
  }
  > .blackbox > .explanation >.left{
    width:25%;
    > .icon{
      height:20px;
      width:120px;
      background-color:#fcfcfc;
      border-radius: 5px;
      display: flex;
      line-height:1;
      font-weight: bold;
      padding:5px;
      margin-bottom:10px;
      > .fas{
        padding-right:5px;
        font-size:9px;
      }
      > p{
        font-size:12px;
        line-height:0.9;
      }
    }
    > .title{
      width:90%;
      color:#fff;
      font-size:30px;
      line-height:1.1;
      margin-bottom:10px;
    }
    > .country{
      height:25px;
      width:200px;
      color:#fff;
      margin-bottom:10px;
    }
    > .review{
      height:25px;
      width:150px;
      font-size:14px;
      color:#fff;
      margin-bottom:10px;
      span{
        font-weight: bold;
        margin-right:5px;
        
      }
      .fas{
        margin-right:5px;
      }
    }
    > .tags{
      height:50px;
      width:200px;
      display: flex;
      font-size:12px;
      flex-wrap :wrap;
      margin-bottom:10px;
      > .section-tag{
        background-color:#333333;
        border-radius: 3px;
        height:20px;
        padding:0px 5px;
        margin-right:7px;
        color:#fff;
      }
    }
    > .translation{
      width:90%;
      .border{
        margin-top:5px;
        border: #fff solid 2px;
        padding:10px 15px;
        display: flex;
        color:#fff;
        text-align: center;
        .fas{
          margin-right:5px;
          font-size:30px;
        }
        p{
          line-height:1.7;
        }
      }
    }
  }
  > .blackbox > .explanation >.right{
    width:50%;
    margin-left:80px;
    > .devise{
      margin:30px 0px;
      display: flex;
      border-top:gray solid 1px;
      border-bottom:gray solid 1px;
      color:#fff;
      font-size:14px;
      line-height:57px;
      padding:10px 0px;
    }
    > .specs{
      height:150px;
      width:70%;
      margin-top:20px;
      display: flex;
      justify-content:space-between;
      font-size:13px;
      color:#fff;
    }
    > .specs > .section-spec{
      > .fas{
        color:gray;
        margin-bottom:10px;
      }
      > .section-title{
        color:gray;
      }
    }
  }
  
  // 体験できる事
    > .canexperience{
      display: flex;
      @include center;
      > .title{
        @include title;
      }
      > .text{
        max-width:900px;
        line-height:2.0;
        padding-left:100px;
        
      }
    }

    // チャレンジ
    > .challenge-background{
      height:400px;
      background-color:rgb(240, 239, 239);
      > .challenge{
        @include center;
        display: flex;
        padding-top:120px;
        > .title{
          @include title;
        }
        > .texts{
          display: flex;
          width:85%;
          padding-left:100px;
          > .section-text{
            margin:0px 20px;
            width:33%;
            > .minititle{
              font-weight: bold;
            }
          }
        }
      }
    }

    // ホスト
    > .hosts{
      @include center;
      display: flex;
      > .title{
        @include title;
      }
      > .hostdata{
        padding-left:100px;
        > img{
          border-radius: 50%; 
        }
        > .hostname{
          @include size22;
          margin-top:10px;
        }
        > .hosttext{
          line-height:2.0;
          max-width:1000px;
      }
      > .contact{
        color:#008489;
        margin:20px 0px;
        border: #008489 solid 2px;
        border-radius:5px;
        width:140px;
        padding:10px 20px;
        font-weight: bold;
      }
    }
  }

  // 持ち物
  > .belongings{
    @include center;
    display: flex;
    > .title{
      @include title;
    }
    > .texts{
      padding-left:100px;
      width:100%;
      > .section-text{
        height:50px;
        margin-top:30px;
        border-bottom:#e6e6e6 solid 1px;
        display: flex;
        > .far{
          font-size:30px;
          margin-right:10px;
        }
        > p{
          line-height:2;
        }
        span{
          color:#008489;
        }
      }
    }
  }

  // 参加方法
  > .participation{
    @include center;
    display: flex;
    > .title{
      @include title;
    }
    > .texts{
      padding-left:100px;
      width:100%;
      > .videocall{
        border-bottom:#e6e6e6 solid 1px;
        padding-bottom:50px;
        > .section-title{
          @include size22;
          margin:10px 0px;
        }
        > .section-details{
          margin:20px 0px;
          font-size:18px;
          span{
            font-weight:bold;
            text-decoration: underline
          }
        }
        > .comment{
          background-color:rgb(240, 239, 239);
          padding:20px;
          border-radius: 10px;
          font-size:15px;
          width:800px;
          span{
            font-size:13px;
            font-weight: bold;
          }
        }
      }
      > .charter{
        > .section-title{
          @include size22;
          margin:10px 0px;
        }
        > .section-details{
          font-size:18px;
        }
      }
    }
  }

  // レビュー
  > .guestreview{
    @include center;
    display: flex;
    >.titles{
      >.title{
        @include title;
        margin-bottom:10px;
      }
      > .totalreview{
        font-weight: bold;
        > .fas{
          color:#008489;
        }
      }
      > .traditional{
        margin-top:20px;
        border:#4d4d4d solid 2px;
        padding:10px 20px;
        width:255px;
        color:#4d4d4d;
        font-weight: bold;
        border-radius:5px ;
      }
    }
    > .reviews{
      padding-left:100px;
      >.section-review{
        margin-bottom:30px;
        >.top{
          display:flex;
          > .left{
            > img{
              border-radius: 50%; 
            }
          }
        }
      }
     > .section-review > .top > .right{
      margin-left:20px;
        > .reviewuser{
          display:flex;
          font-size:15px;
          > .username{
            font-weight: bold;
            margin-right:5px;
          }
          > .month{
            font-size:13px;
            line-height:2;
          }
        }
        > .reviewstar{
          > .fas{
            color:#008489;
          }
        }
      }
      > .section-review > .down{
        margin-top:15px;
        border-bottom:#e6e6e6 solid 1px;
        padding-bottom:30px;
        span{
          color:#008489;
        }
      }
      > .section-review:nth-child(5) > .down{
        border-bottom:initial;
      }
      > .section-review > .pagination{
        color:#008489;
        font-size:14px;
        display: flex;
        span{
          letter-spacing:40px;
        }
        > .bot{
          margin-right:20px;
        }
        > .fas{
          font-size:30px;
          margin-left:30px;
          line-height:0.7;
        }  
      }
      
    }  
  }
}