@import "../settings/_settings.color.scss";

@media (max-width: 740px){
  // 背景画像/高さ変更
  // .section-layout  > .container > .host-background{
  //   height:250px;
  // }
  // 背景画像/高さ変更
  // .section-layout  > .container > .host-background > .levelup{
  //   left:30px;
  //   font-size:35px;
  //   width:90%;
  // }
 // 入力フォーム貸し切り&ゲスト横展開解除
  .section-layout  > .container > .responsive-form{
    // width:90%;
    @import "../components/_components.homes-responsive";
  }
  // メインページ余白変更
  .section-layout  > .container > .hostmain{
    padding:0px 5vw;
  }
  // インタビュー
  .section-layout  > .container > .hostmain >.interview{
	  flex-direction: column-reverse;
    @import "../components/_components.homes-responsive";
  }
  // ステップ
  .section-layout  > .container > .hostmain > .step{
    @import "../components/_components.homes-responsive";
  }
   // 安心
  .section-layout  > .container > .hostmain > .relief {
    margin-top:100px;
    padding:initial;
    @import "../components/_components.homes-responsive";
  }
   // 実践例
   .section-layout  > .container > .hostmain >.example{
    display:initial;
    @import "../components/_components.homes-responsive";
  }
  // シェアデータ
  .section-layout  > .container > .hostmain > .hostshare{
    @import "../components/_components.homes-responsive";
  }
   // Airbnbについて
   .section-layout  > .container > .hostmain > .about{
    @import "../components/_components.homes-responsive";
  }
  // ホスティング
  .section-layout  > .container > .hostmain > .hosting{
    @import "../components/_components.homes-responsive";
  }
  // リンク集
  .section-layout  > .container >.lodginglinks{
    display:none;
  }
}






@media (min-width:741px) and (max-width: 1130px){
  // 背景画像/高さ変更
  // .section-layout  > .container > .host-background{
  //   height:275px;
  // }
  // メインページ余白変更
  .section-layout  > .container > .hostmain{
    padding:0px 15vw;
  }
   // インタビュー
   .section-layout  > .container > .hostmain >.interview{
    @import "../components/_components.homes-responsive";
  }
   // 実践例
   .section-layout  > .container > .hostmain >.example{
    @import "../components/_components.homes-responsive";
  }
  // シェアデータ
  .section-layout  > .container > .hostmain > .hostshare{
    @import "../components/_components.homes-responsive";
  }
  // ホスティング
  .section-layout  > .container > .hostmain > .hosting{
    @import "../components/_components.homes-responsive";
  }
}






@media (max-width: 1130px){
  // 背景画像/フォーム非表示
  // .section-layout  > .container > .host-background > .background-form{
  //   display:none;
  // }
  // 冒頭説明/横並び解除
  .section-layout  > .container > .hostmain >.introduction{
    display:initial;
    @import "../components/_components.homes-responsive";
  }
  // ステップ
  .section-layout  > .container > .hostmain > .step{
    margin-top:100px;
    @import "../components/_components.homes-responsive";
  }
  // 安心
  .section-layout  > .container > .hostmain > .relief {
    margin-top:100px;
    padding:initial;
    @import "../components/_components.homes-responsive";
  }
  // Airbnbについて
  .section-layout  > .container > .hostmain > .about{
    @import "../components/_components.homes-responsive";
  }
  .section-layout  > .container > .hostmain > .question{
    @import "../components/_components.homes-responsive";
  }
   // リスティング
   .section-layout  > .container > .listing{
    padding:initial;
    @import "../components/_components.homes-responsive";
  }
}






@media (min-width: 1130px){
  // 背景画像/白文字非表示

  // width1300px以下入力フォーム非表示
  // .section-layout  > .container >.responsive-form{
  //   display: none;
  // }
}