@import "../settings/_settings.color.scss";

// 740px以下
@media (max-width: 740px){
  .section-layout > .container > .black-box > .white-header{
    background-color:$white;
    height:20px;
    padding:20px 20px;
    display: flex;
    justify-content:space-between;
    width:95%;
    @import "../components/_components.online-responsive";
  }
  .section-layout > .container > .canexperience{
    display: initial;
    @import "../components/_components.online-responsive";
    >.experiencetext{
      padding-left:initial;
      margin:30px 20px;
    }
  }
  .section-layout > .container > .challenge-background{
    height:auto;
  }
  .section-layout > .container > .challenge-background > .challenge{
    display: initial;
    @import "../components/_components.online-responsive";
  }
  .section-layout > .container > .hosts{
    display: initial;
    @import "../components/_components.online-responsive";
  }
  .section-layout >.container > .belongings{
    display: initial;
    @import "../components/_components.online-responsive";
    >.belongingstexts{
      padding-left:20px;
      width:90%;
    }
  }
  .section-layout >.container > .participation{
    display: initial;
    @import "../components/_components.online-responsive";
  }

  .section-layout >.container > .guestreview{ 
    display: initial;
    @import "../components/_components.online-responsive";
  }

  .section-layout > .container > .guestreview  >.reviews{
    padding:30px 20px;
    @import "../components/_components.online-responsive";
  }

  .section-layout > .container > .reservation > .title {
    font-size:22px;
  }
  .section-layout >.container > .note{
    display: initial;
  }
  .section-layout >.container > .note >.sticky {
    width:initial;
    height:80px;
    position: initial;
    >.title{
      font-size:23px;
      padding-left:50px;
    }
  }
  .section-layout  >.container > .fixedfooter{
  width:97%;
  }
}

// 1130px以下
@media (max-width: 1130px){
.section-layout > .container > .note > .notetexts{
  width:100%;
  @import "../components/_components.online-responsive";
  }
.section-layout >.container > .fixedfooter{
  line-height:initial;
  @import "../components/_components.online-responsive";
  >.fixedleft{
    display: none;
  }
  >.fixedright{
    display: none;
  }
}
.section-layout > .container > .fixedfooter  > .miniright{
    background-color:$wine;
    color:$white;
    font-weight: bold;
    text-align: center;
    width:200px;
    height:50px;
    line-height:50px;
    margin:10px 0px 0px 30px;
    border-radius: 5px;
    margin-right:10px;
  }
}

// 1130px以上
@media (min-width: 1130px){
.section-layout > .container > .note > .notetexts{
  @import "../components/_components.online-responsive";
  }
.section-layout > .container > .fixedfooter >.minileft{
    display: none;
  }
.section-layout > .container > .fixedfooter >.miniright{
    display: none;
  }
}

// その他のオンライン体験
.section-layout > .container > .otherexperiences > .experiences{
  @import "../components/_components.online-responsive";
}
