@import "../settings/_settings.color.scss";

@media (max-width: 740px){
 // 入力フォーム貸し切り&ゲスト横展開解除
  .section-layout  > .container > .responsive-form{
    // width:90%;
    @import "../components/_components.homes-responsive";
  }
  // メインページ余白変更
  .section-layout  > .container > .whitespace-container{
    padding:0px 5vw;
  }
  // インタビュー
  .section-layout  > .container > .whitespace-container >.dennis-container{
	  // flex-direction: column-reverse;
    @import "../components/_components.homes-responsive";
  }
  // ステップ
  .section-layout  > .container > .whitespace-container > .step-container{
    @import "../components/_components.homes-responsive";
  }
   // 安心
  .section-layout  > .container > .whitespace-container > .safety-container {
    margin-top:100px;
    padding:initial;
    @import "../components/_components.homes-responsive";
  }
   // 実践例
   .section-layout  > .container > .whitespace-container >.example{
    display:initial;
    @import "../components/_components.homes-responsive";
  }
  // シェアデータ
  .section-layout  > .container > .whitespace-container > .hostshare{
    @import "../components/_components.homes-responsive";
  }
   // Airbnbについて
   .section-layout  > .container > .whitespace-container > .about{
    @import "../components/_components.homes-responsive";
  }
  // ホスティング
  .section-layout  > .container > .whitespace-container > .hosting{
    @import "../components/_components.homes-responsive";
  }
  // リンク集
  .section-layout  > .container >.lodginglinks{
    display:none;
  }
}






@media (min-width:741px) and (max-width: 1130px){
  // メインページ余白変更
  .section-layout  > .container > .whitespace-container{
    padding:0px 15vw;
  }
   // インタビュー
   .section-layout  > .container > .whitespace-container >.dennis-container{
    @import "../components/_components.homes-responsive";
  }
   // 実践例
   .section-layout  > .container > .whitespace-container >.example{
    @import "../components/_components.homes-responsive";
  }
  // シェアデータ
  .section-layout  > .container > .whitespace-container > .hostshare{
    @import "../components/_components.homes-responsive";
  }
  // ホスティング
  .section-layout  > .container > .whitespace-container > .hosting{
    @import "../components/_components.homes-responsive";
  }
}






@media (max-width: 1130px){
  // ステップ
  .section-layout  > .container > .whitespace-container > .step-container{
    margin-top:100px;
    @import "../components/_components.homes-responsive";
  }
  // 安心
  .section-layout  > .container > .whitespace-container > .safety-container {
    margin-top:100px;
    padding:initial;
    @import "../components/_components.homes-responsive";
  }
  // Airbnbについて
  .section-layout  > .container > .whitespace-container > .about{
    @import "../components/_components.homes-responsive";
  }
  .section-layout  > .container > .whitespace-container > .question{
    @import "../components/_components.homes-responsive";
  }
   // リスティング
   .section-layout  > .container > .listing{
    padding:initial;
    @import "../components/_components.homes-responsive";
  }
}






@media (min-width: 1130px){
  // 背景画像/白文字非表示

  // width1300px以下入力フォーム非表示
  .section-layout  > .container >.responsive-form{
    display: none;
  }
}