@import "../settings/_settings.color.scss";
 
.body{
  width:100vw;
  height:100vh;
}
.section-layout{
  width:100%;
  position: relative;
}

.section-layout > .container >.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
  border-bottom:solid 1px $bodergray;
}

// .section-layout >.container{
//   @import "../components/_covid-container";
//   @import "../components/_header-container";
//   @import "../components/_header-nav";
//   @import "../components/_search-form";
//   @import "../components/_search-container";
//   @import "../components/_search-nav";
//   @import "../components/_search-forms";
//   @import "../components/_search-header";
//   @import "../components/catchcopy-container";
//   @import "../components/_online-experience";
//   @import "../components/_online-top";
//   @import "../components/_image-box";
//   @import "../components/_image-right";
//   @import "../components/_image-left";
//   @import "../components/_sangría-image";
//   @import "../components/_yoga-image";
//   @import "../components/_music-image";
//   @import "../components/_penguin-image";
//   @import "../components/_news-container";
//   @import "../components/_information-nav";
//   @import "../components/_link-collections";
//   @import "../components/_link-nav";
//   @import "../components/footer-container";
//   @import "../components/footer-left";
//   @import "../components/footer-right";
//   @import "../components/hiding-footer";
// }


