@import "../settings/_settings.color.scss";

.body{
  width:100vw;
  height:100vh;
}
.section-layout{
  width:100%;
  position: relative;
}

// ----------------------
// シンプルのcssはステップ参照
// -----------------------

// 実施例/
.section-layout > .container  > .whitespace-container > .example{
  display:flex;
  @import "../components/components.homes";
}

// シェアデータ
.section-layout > .container  > .whitespace-container > .hostshare{
  margin-top:100px;
  color:$dark-engine;
  @import "../components/components.homes";
}

// Airbnbについて
.section-layout > .container  > .whitespace-container > .about{
  color:$dark-engine;
  @import "../components/components.homes";
}

// よくある質問
.section-layout > .container  > .whitespace-container > .question{
  @import "../components/components.homes";
}
// ホスティング
.section-layout > .container  > .whitespace-container > .hosting{
  @import "../components/components.homes";
  color:$dark-engine;  
}
// リスティング
.section-layout > .container  > .listing{
  margin-top:50px;
  position: relative;
  padding:0px 3vw;
  @import "../components/components.homes";
}
