@import "../settings/_settings.color.scss";

@media (max-width:741px){
  .section-layout > .headline{
    margin:initial;
    float:left;
    padding:20px;
    .minititle{
      font-weight: bold;
      font-size:14px;
      text-align: left;
    }
    .bigtitle{
      font-weight: bold;
      font-size:40px;
      width:670px;
      text-align: left;
    }
    .join{
      font-size:20px;
      color:$grey-sonic-silver;
      text-align: left;
      width:100%;
      margin:10px ;
    }
    .startbtn{
      font-size:14px;
      color:$white;
      border-radius: 5px;
      background-color:$red-spanish-crimson;
      height:50px;
      line-height:50px;
      width:125px;
      margin:initial;
    }
  }
}

@media (min-width:741px) and (max-width: 1130px){
  // 見出し
  .section-layout > .headline{
    .bigtitle{
      font-size:40px;
      width:670px;
      margin:0 auto;
    }
    .join{
      font-size:20px;
      color:$grey-sonic-silver;
      width:100%;
    }
  }
}