@import "../settings/_settings.color.scss";

.body{
  width:100vw;
  height:100vh;
}

.section-layout{
  width:100%;
  position: relative;
}

.section-layout > .container{
  @import "../components/online/_fixed-header.scss";
  @import "../components/online/_black-box";
  @import "../components/online/_experiences-header";
  @import "../components/online/_search-box";
  @import "../components/online/_header-nav";
  @import "../components/online/sangría-box";
  @import "../components/online/share-save";
}
// 固定ヘッダー
// .section-layout > .container > .fixedheader{
//   width:100%;
//   height:20px;
//   position: fixed;
//   background-color:$white;
//   top: 0px;
//   left: 0px;
//   z-index: 1;
//   display:none;
//   border-bottom:$bodergray solid 1px;
//   padding:15px 50px;
//   font-size:14px;
//   color:$light-green;
//   margin-bottom:30px;
// }



// 黒枠
// .section-layout > .container > .black-box{
//   background-color:$black;
//   padding-bottom:30px;
// }
// 黒枠/ヘッダー
// .section-layout > .container > .black-box > .experiences-header{
//   padding-top:20px;
//   display:flex;
//   justify-content:space-between;
//   max-width:1300px;
//   margin:0 auto;
//   @import "../components/components.online";
// }
// 黒枠/画像枠
// .section-layout > .container > .black-box > .sangría-box{
//   width:95vw;
//   max-width:1200px;
//   display:flex;
//   margin:20px auto;
//   position: relative;
//   height:30vw;
//   @import "../components/components.online";
// }
// 黒枠/説明文
.section-layout > .container > .black-box > .online-explanation{
  width:95vw;
  max-width:1200px;
  display:flex;
  margin:20px auto;
  position: relative;
  @import "../components/components.online";
}



// 体験できる事
.section-layout > .container > .canexperience{
  display: flex;
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  margin-bottom:40px;
  @import "../components/components.online";
}



// チャレンジ
.section-layout > .container > .challenge-background{
  height:400px;
  background-color:$light-gray;
}
// チャレンジ/文字全体
.section-layout > .container > .challenge-background > .challenge{
    margin:0 auto;
    max-width:1200px;
    padding:0px 45px 45px 45px;
    color:$light-black;
    display: flex;
    padding-top:120px;
    @import "../components/components.online";
}



// ホスト
.section-layout > .container > .hosts{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  display: flex;
  @import "../components/components.online";
}



// 持ち物
.section-layout > .container > .belongings{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  display: flex;
  @import "../components/components.online";
}



// 参加方法
.section-layout > .container > .participation{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  display: flex;
  @import "../components/components.online";
}

  


// レビュー
.section-layout > .container > .guestreview{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 150px 45px;
  color:$light-black;
  display: flex;
  padding-top:45px;
  margin-bottom:40px;
  >.titles{
    @import "../components/components.online";
  }
}
// レビュー/右側全体
.section-layout > .container > .guestreview > .reviews{
  padding-top:45px;
  padding-left:120px;
  @import "../components/components.online";
}



// 予約全体設定
.section-layout > .container > .reservation{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  > .title{
    font-size:30px;
    font-weight: bold;
    min-width:150px;
    margin-bottom:50px;
  }
  > .calendars{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
// 予約全体設定/月表示
.section-layout > .container > .reservation > .calendars{
  @import "../components/components.online";
}
// 予約全体設定/日付選択
.section-layout > .container > .reservation > .daychoice{
  color:$light-green;
  margin:20px 0px;
  border: $light-green solid 2px;
  border-radius:5px;
  width:100px;
  padding:10px 10px;
  font-weight: bold;
  width:130px;
}




// 注意
.section-layout > .container > .note{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  display: flex;
  @import "../components/components.online";
}



// その他体験全体
.section-layout >.container > .otherexperiences{
  margin:0 auto;
  max-width:1500px;
  padding:100px 20px;
  border-bottom:$bodergray solid 1px;
  > .title{
    font-size:30px;
    font-weight: bold;
    color:$light-black;
  }
  > .experiences{
    margin-top:30px;
    display: flex;
    overflow-x:auto;
    @import "../components/components.online";
  }
}
// その他体験全て表示
.section-layout >.container > .otherexperiences > .allshow{
  margin-top:50px;
  color:$light-green;
  font-weight: bold;
}


// 固定フッター全体
.section-layout > .container > .fixedfooter{
  height:70px;
  width:100%;
  border-top:$bodergray solid 1px;
  position: absolute;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content:space-between;
  background-color:$white;
  line-height:70px;
  padding:0px 0px;
  @import "../components/components.online";
}

// 黒枠をスクロール過ぎると固定フッター背景が黒くなる
.section-layout > .container > .black{
  background-color:$black;
  color:$white;
  border-top:initial;
}