@import "../settings/_settings.color.scss";
 
.body{
  width:100%;
  height:10%;
}
.section-layout{
  width:100%;
  position: relative;
}

.section-layout > .container >.m_fixed {
  left: 0;
  position: fixed;
  top: 0;
  border-bottom:solid 1px $compact-disc-grey;
}


