@charset "UTF-8";
@media (max-width: 740px) {
  .section-layout > .covid {
    height: 70px;
  }
  .section-layout > .topheader {
    display: none;
  }
  .section-layout > .search {
    display: none;
  }
  .section-layout > .news {
    padding: 10px;
    height: auto;
    width: 96%;
  }
  .section-layout > .news > .informations {
    overflow-x: auto;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: initial;
  }
}

@media (max-width: 740px) and (max-width: 740px) {
  .section-layout > .news > .informations .information {
    width: 100%;
    margin-top: 50px;
    padding-right: 50px;
  }
  .section-layout > .news > .informations .information > ul {
    width: 500px;
  }
  .section-layout > .news > .informations .sns {
    display: none;
  }
}

@media (max-width: 740px) and (max-width: 900px) {
  .section-layout > .news > .informations .topleft {
    width: 100%;
  }
  .section-layout > .news > .informations .topleft > .title {
    font-size: 22px;
  }
  .section-layout > .news > .informations .topright {
    position: absolute;
    bottom: 35px;
    left: 50px;
  }
  .section-layout > .news > .informations .imageleft > .sangría {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .news > .informations .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .news > .informations .imageright > .imagetop > .yoga {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .news > .informations .imageright > .imagetop > .music {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .news > .informations .imageright > .bottom {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

@media (max-width: 740px) and (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .news > .informations .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .news > .informations .information {
    width: 45%;
    margin-top: 50px;
  }
  .section-layout > .news > .informations .link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-layout > .news > .informations .link-nav > li {
    width: 33%;
  }
}

@media (max-width: 740px) and (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .news > .informations .imageleft > .sangría {
    width: 60vw;
    height: 50vw;
    margin-right: 20px;
  }
  .section-layout > .news > .informations .imageright > .imagetop {
    display: initial;
  }
  .section-layout > .news > .informations .imageright > .imagetop > .yoga {
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .news > .informations .imageright > .imagetop > .music {
    margin-top: 50px;
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .news > .informations .imageright > .bottom {
    display: none;
  }
}

@media (max-width: 740px) {
  .section-layout > .linkcollections {
    display: none;
  }
  .section-layout > .topfooter {
    position: relative;
    text-align: initial;
    margin: 10px;
    border-top: initial;
  }
  .section-layout > .topfooter > .footerright {
    margin: initial;
    position: absolute;
    top: 20px;
    left: 30px;
  }
}

@media (max-width: 740px) and (max-width: 740px) {
  .section-layout > .topfooter > .footerright .information {
    width: 100%;
    margin-top: 50px;
    padding-right: 50px;
  }
  .section-layout > .topfooter > .footerright .information > ul {
    width: 500px;
  }
  .section-layout > .topfooter > .footerright .sns {
    display: none;
  }
}

@media (max-width: 740px) and (max-width: 900px) {
  .section-layout > .topfooter > .footerright .topleft {
    width: 100%;
  }
  .section-layout > .topfooter > .footerright .topleft > .title {
    font-size: 22px;
  }
  .section-layout > .topfooter > .footerright .topright {
    position: absolute;
    bottom: 35px;
    left: 50px;
  }
  .section-layout > .topfooter > .footerright .imageleft > .sangría {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .topfooter > .footerright .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .topfooter > .footerright .imageright > .imagetop > .yoga {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .topfooter > .footerright .imageright > .imagetop > .music {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .topfooter > .footerright .imageright > .bottom {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

@media (max-width: 740px) and (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .topfooter > .footerright .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .topfooter > .footerright .information {
    width: 45%;
    margin-top: 50px;
  }
  .section-layout > .topfooter > .footerright .link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-layout > .topfooter > .footerright .link-nav > li {
    width: 33%;
  }
}

@media (max-width: 740px) and (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .topfooter > .footerright .imageleft > .sangría {
    width: 60vw;
    height: 50vw;
    margin-right: 20px;
  }
  .section-layout > .topfooter > .footerright .imageright > .imagetop {
    display: initial;
  }
  .section-layout > .topfooter > .footerright .imageright > .imagetop > .yoga {
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .topfooter > .footerright .imageright > .imagetop > .music {
    margin-top: 50px;
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .topfooter > .footerright .imageright > .bottom {
    display: none;
  }
}

@media (max-width: 740px) {
  .section-layout > .topfooter > .footerleft {
    padding: 20px 0px 0px 30px;
  }
}

@media (min-width: 740px) {
  .section-layout > .searchform {
    display: none;
  }
  .section-layout > .hidingfooter {
    opacity: 0;
  }
}

@media (min-width: 900px) {
  .section-layout > .form2 {
    display: none;
  }
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience {
    padding: 20px;
  }
  .section-layout > .onlineexperience > .imagetop {
    margin-bottom: initial;
    height: initial;
  }
}

@media (max-width: 900px) and (max-width: 740px) {
  .section-layout > .onlineexperience > .top .information {
    width: 100%;
    margin-top: 50px;
    padding-right: 50px;
  }
  .section-layout > .onlineexperience > .top .information > ul {
    width: 500px;
  }
  .section-layout > .onlineexperience > .top .sns {
    display: none;
  }
}

@media (max-width: 900px) and (max-width: 900px) {
  .section-layout > .onlineexperience > .top .topleft {
    width: 100%;
  }
  .section-layout > .onlineexperience > .top .topleft > .title {
    font-size: 22px;
  }
  .section-layout > .onlineexperience > .top .topright {
    position: absolute;
    bottom: 35px;
    left: 50px;
  }
  .section-layout > .onlineexperience > .top .imageleft > .sangría {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .top .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .onlineexperience > .top .imageright > .imagetop > .yoga {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .top .imageright > .imagetop > .music {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .top .imageright > .bottom {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

@media (max-width: 900px) and (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .top .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .onlineexperience > .top .information {
    width: 45%;
    margin-top: 50px;
  }
  .section-layout > .onlineexperience > .top .link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-layout > .onlineexperience > .top .link-nav > li {
    width: 33%;
  }
}

@media (max-width: 900px) and (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .top .imageleft > .sangría {
    width: 60vw;
    height: 50vw;
    margin-right: 20px;
  }
  .section-layout > .onlineexperience > .top .imageright > .imagetop {
    display: initial;
  }
  .section-layout > .onlineexperience > .top .imageright > .imagetop > .yoga {
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .onlineexperience > .top .imageright > .imagetop > .music {
    margin-top: 50px;
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .onlineexperience > .top .imageright > .bottom {
    display: none;
  }
}

@media (max-width: 900px) {
  .section-layout > .onlineexperience > .imagebox {
    overflow-x: auto;
    white-space: nowrap;
    height: 650px;
    margin-bottom: 50px;
  }
}

@media (max-width: 900px) and (max-width: 740px) {
  .section-layout > .onlineexperience > .imagebox .information {
    width: 100%;
    margin-top: 50px;
    padding-right: 50px;
  }
  .section-layout > .onlineexperience > .imagebox .information > ul {
    width: 500px;
  }
  .section-layout > .onlineexperience > .imagebox .sns {
    display: none;
  }
}

@media (max-width: 900px) and (max-width: 900px) {
  .section-layout > .onlineexperience > .imagebox .topleft {
    width: 100%;
  }
  .section-layout > .onlineexperience > .imagebox .topleft > .title {
    font-size: 22px;
  }
  .section-layout > .onlineexperience > .imagebox .topright {
    position: absolute;
    bottom: 35px;
    left: 50px;
  }
  .section-layout > .onlineexperience > .imagebox .imageleft > .sangría {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .yoga {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .music {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .bottom {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

@media (max-width: 900px) and (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .onlineexperience > .imagebox .information {
    width: 45%;
    margin-top: 50px;
  }
  .section-layout > .onlineexperience > .imagebox .link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-layout > .onlineexperience > .imagebox .link-nav > li {
    width: 33%;
  }
}

@media (max-width: 900px) and (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox .imageleft > .sangría {
    width: 60vw;
    height: 50vw;
    margin-right: 20px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop {
    display: initial;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .yoga {
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .music {
    margin-top: 50px;
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .bottom {
    display: none;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (max-width: 740px) {
  .section-layout > .onlineexperience > .imagebox .information {
    width: 100%;
    margin-top: 50px;
    padding-right: 50px;
  }
  .section-layout > .onlineexperience > .imagebox .information > ul {
    width: 500px;
  }
  .section-layout > .onlineexperience > .imagebox .sns {
    display: none;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (max-width: 900px) {
  .section-layout > .onlineexperience > .imagebox .topleft {
    width: 100%;
  }
  .section-layout > .onlineexperience > .imagebox .topleft > .title {
    font-size: 22px;
  }
  .section-layout > .onlineexperience > .imagebox .topright {
    position: absolute;
    bottom: 35px;
    left: 50px;
  }
  .section-layout > .onlineexperience > .imagebox .imageleft > .sangría {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .yoga {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .music {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .bottom {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .onlineexperience > .imagebox .information {
    width: 45%;
    margin-top: 50px;
  }
  .section-layout > .onlineexperience > .imagebox .link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-layout > .onlineexperience > .imagebox .link-nav > li {
    width: 33%;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox .imageleft > .sangría {
    width: 60vw;
    height: 50vw;
    margin-right: 20px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop {
    display: initial;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .yoga {
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .music {
    margin-top: 50px;
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .bottom {
    display: none;
  }
}

@media (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .news {
    height: 850px;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (max-width: 740px) {
  .section-layout > .news > .informations .information {
    width: 100%;
    margin-top: 50px;
    padding-right: 50px;
  }
  .section-layout > .news > .informations .information > ul {
    width: 500px;
  }
  .section-layout > .news > .informations .sns {
    display: none;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (max-width: 900px) {
  .section-layout > .news > .informations .topleft {
    width: 100%;
  }
  .section-layout > .news > .informations .topleft > .title {
    font-size: 22px;
  }
  .section-layout > .news > .informations .topright {
    position: absolute;
    bottom: 35px;
    left: 50px;
  }
  .section-layout > .news > .informations .imageleft > .sangría {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .news > .informations .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .news > .informations .imageright > .imagetop > .yoga {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .news > .informations .imageright > .imagetop > .music {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .news > .informations .imageright > .bottom {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .news > .informations .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .news > .informations .information {
    width: 45%;
    margin-top: 50px;
  }
  .section-layout > .news > .informations .link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-layout > .news > .informations .link-nav > li {
    width: 33%;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .news > .informations .imageleft > .sangría {
    width: 60vw;
    height: 50vw;
    margin-right: 20px;
  }
  .section-layout > .news > .informations .imageright > .imagetop {
    display: initial;
  }
  .section-layout > .news > .informations .imageright > .imagetop > .yoga {
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .news > .informations .imageright > .imagetop > .music {
    margin-top: 50px;
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .news > .informations .imageright > .bottom {
    display: none;
  }
}

@media (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .linkcollections {
    display: inline;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (max-width: 740px) {
  .section-layout > .linkcollections .information {
    width: 100%;
    margin-top: 50px;
    padding-right: 50px;
  }
  .section-layout > .linkcollections .information > ul {
    width: 500px;
  }
  .section-layout > .linkcollections .sns {
    display: none;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (max-width: 900px) {
  .section-layout > .linkcollections .topleft {
    width: 100%;
  }
  .section-layout > .linkcollections .topleft > .title {
    font-size: 22px;
  }
  .section-layout > .linkcollections .topright {
    position: absolute;
    bottom: 35px;
    left: 50px;
  }
  .section-layout > .linkcollections .imageleft > .sangría {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .linkcollections .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .linkcollections .imageright > .imagetop > .yoga {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .linkcollections .imageright > .imagetop > .music {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .linkcollections .imageright > .bottom {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .linkcollections .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .linkcollections .information {
    width: 45%;
    margin-top: 50px;
  }
  .section-layout > .linkcollections .link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-layout > .linkcollections .link-nav > li {
    width: 33%;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .linkcollections .imageleft > .sangría {
    width: 60vw;
    height: 50vw;
    margin-right: 20px;
  }
  .section-layout > .linkcollections .imageright > .imagetop {
    display: initial;
  }
  .section-layout > .linkcollections .imageright > .imagetop > .yoga {
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .linkcollections .imageright > .imagetop > .music {
    margin-top: 50px;
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .linkcollections .imageright > .bottom {
    display: none;
  }
}

@media (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .linkcollections > .linkcollection {
    width: 100%;
    border-bottom: solid 1px #cdcdcd;
    margin: 20px;
    padding-bottom: 20px;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (max-width: 740px) {
  .section-layout > .linkcollections > .linkcollection .information {
    width: 100%;
    margin-top: 50px;
    padding-right: 50px;
  }
  .section-layout > .linkcollections > .linkcollection .information > ul {
    width: 500px;
  }
  .section-layout > .linkcollections > .linkcollection .sns {
    display: none;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (max-width: 900px) {
  .section-layout > .linkcollections > .linkcollection .topleft {
    width: 100%;
  }
  .section-layout > .linkcollections > .linkcollection .topleft > .title {
    font-size: 22px;
  }
  .section-layout > .linkcollections > .linkcollection .topright {
    position: absolute;
    bottom: 35px;
    left: 50px;
  }
  .section-layout > .linkcollections > .linkcollection .imageleft > .sangría {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .linkcollections > .linkcollection .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .linkcollections > .linkcollection .imageright > .imagetop > .yoga {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .linkcollections > .linkcollection .imageright > .imagetop > .music {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .linkcollections > .linkcollection .imageright > .bottom {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .linkcollections > .linkcollection .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .linkcollections > .linkcollection .information {
    width: 45%;
    margin-top: 50px;
  }
  .section-layout > .linkcollections > .linkcollection .link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-layout > .linkcollections > .linkcollection .link-nav > li {
    width: 33%;
  }
}

@media (min-width: 741px) and (max-width: 1130px) and (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .linkcollections > .linkcollection .imageleft > .sangría {
    width: 60vw;
    height: 50vw;
    margin-right: 20px;
  }
  .section-layout > .linkcollections > .linkcollection .imageright > .imagetop {
    display: initial;
  }
  .section-layout > .linkcollections > .linkcollection .imageright > .imagetop > .yoga {
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .linkcollections > .linkcollection .imageright > .imagetop > .music {
    margin-top: 50px;
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .linkcollections > .linkcollection .imageright > .bottom {
    display: none;
  }
}

@media (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .topfooter {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    border-top: initial;
  }
  .section-layout > .topfooter > .footerright {
    margin: 0 auto;
  }
}

@media (min-width: 900px) and (max-width: 1130px) and (max-width: 740px) {
  .section-layout > .onlineexperience > .imagebox .information {
    width: 100%;
    margin-top: 50px;
    padding-right: 50px;
  }
  .section-layout > .onlineexperience > .imagebox .information > ul {
    width: 500px;
  }
  .section-layout > .onlineexperience > .imagebox .sns {
    display: none;
  }
}

@media (min-width: 900px) and (max-width: 1130px) and (max-width: 900px) {
  .section-layout > .onlineexperience > .imagebox .topleft {
    width: 100%;
  }
  .section-layout > .onlineexperience > .imagebox .topleft > .title {
    font-size: 22px;
  }
  .section-layout > .onlineexperience > .imagebox .topright {
    position: absolute;
    bottom: 35px;
    left: 50px;
  }
  .section-layout > .onlineexperience > .imagebox .imageleft > .sangría {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .yoga {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .music {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .bottom {
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin: 16px;
  }
}

@media (min-width: 900px) and (max-width: 1130px) and (min-width: 741px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop {
    display: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .section-layout > .onlineexperience > .imagebox .information {
    width: 45%;
    margin-top: 50px;
  }
  .section-layout > .onlineexperience > .imagebox .link-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-layout > .onlineexperience > .imagebox .link-nav > li {
    width: 33%;
  }
}

@media (min-width: 900px) and (max-width: 1130px) and (min-width: 900px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox .imageleft > .sangría {
    width: 60vw;
    height: 50vw;
    margin-right: 20px;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop {
    display: initial;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .yoga {
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .imagetop > .music {
    margin-top: 50px;
    width: 25vw;
    height: 22.5vw;
  }
  .section-layout > .onlineexperience > .imagebox .imageright > .bottom {
    display: none;
  }
}

@media (max-width: 1920px) {
  .section-layout .catchcopy > p {
    font-size: calc(1.875rem + ((1vw - 9.5px) * 2.5773));
    min-height: 0vw;
  }
}

@media (max-width: 950px) {
  .section-layout .catchcopy > p {
    font-size: 30px;
    width: 150%;
  }
}
/*# sourceMappingURL=responsive.css.map */