@import "../color";

@media (max-width: 740px){
.section-layout > .covid{ 
  height:70px;
  }
.section-layout > .topheader{
  display: none;
  }
.section-layout > .search{
  display: none;
  }
.section-layout > .news{
  padding:10px;
  height:auto;
  width:96%;
  }
.section-layout > .news > .informations{
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  margin-top:initial;
  @import "components";
  }
.section-layout > .linkcollections{
  display: none;
  }
.section-layout > .topfooter{
  position: relative;
  text-align:initial;
  margin:10px;
  border-top:initial;
  }
.section-layout > .topfooter > .footerright{
  margin:initial;
  position: absolute;
  top:20px;
  left:30px;
  @import "components";
  }
.section-layout > .topfooter > .footerleft{
  padding:20px 0px 0px 30px;
  }
}

@media (min-width:740px){
.section-layout > .searchform{
  display: none;
  }
.section-layout > .hidingfooter{
  opacity: 0;
  }
}

@media (min-width: 900px){
.section-layout > .form2{
  display:none;
  }
}

@media (max-width: 900px){
.section-layout > .onlineexperience{
    padding:20px;
  > .imagetop{
    margin-bottom:initial;
    height:initial;
    }
  }
.section-layout > .onlineexperience >.top{
  @import "components";
  }
.section-layout > .onlineexperience > .imagebox{
  overflow-x: auto;
  white-space: nowrap;
  height:650px;
  margin-bottom:50px;
  @import "components";
  } 
}

@media (min-width:741px) and (max-width: 1130px){
  .section-layout > .onlineexperience > .imagebox{
    @import "components";
  }
  .section-layout > .news{
  height:850px;
  }
  .section-layout > .news > .informations{
  @import "components";
  }
  .section-layout > .linkcollections{
  display: inline;
  @import "components";
  > .linkcollection{
    width:100%;
    border-bottom:solid 1px $bodergray;
    margin:20px;
    padding-bottom:20px;
    }
  }
  .section-layout > .linkcollections > .linkcollection{
    @import "components";
  }
  .section-layout > .topfooter{
  flex-wrap :wrap-reverse;
  width:700px;
  margin:0 auto;
  text-align: center;
  border-top:initial;
  > .footerright{
      margin:0 auto;
    }
  }
}

@media (min-width:900px) and (max-width: 1130px) {
  .section-layout > .onlineexperience > .imagebox{
    @import "components";
  }
}

.section-layout .catchcopy{
  > p{
    @media (max-width: 1920px) {
      font-size: calc(1.875rem + ((1vw - 9.5px) * 2.5773));
      min-height: 0vw;
    }
    @media (max-width: 950px) {
      font-size: 30px;
      width:150%;
    }
  }   
}  
