@import "tools";

.section-layout{
  @media (max-width: 740px){
    > .covid{ 
        height:70px;
      }
    > .topheader{
        display: none;
      }
      > .search{
        display: none;
      }
      > .news{
        padding:10px;
      }
      > .news > .section-informations{
        @include scroll;
        display: flex;
        margin-top:initial;
    }
      > .news{
        height:auto;
        > .section-informations > .section-information{
          width:100%;
          margin-top:50px;
      }
    }
      > .section-linkcollections{
        display: none;
    }
      > .topfooter{
            text-align:initial;
            margin:10px;
          > .right{
                margin:initial;
            > .sns{
                display: none;
        }
      }
    }
  }

  @media (min-width:740px){
    > .searchform{
      display: none;
    }
    > .hidingfooter{
      opacity: 0;
    }
  }

  @media (min-width: 900px){
    > .form2{
      display:none;
    }
  }

  @media (max-width: 900px){
    > .onlineexperience{
        padding:20px;
      > .top{
        margin-bottom:initial;
        height:initial;
      }
    }
    > .onlineexperience >.top > .left{
        width:100%;
      > .title{
          font-size:22px;
      }
    }
    > .onlineexperience >.top > .right{
       position: absolute;
       bottom:35px;
       left:50px;
    }
    > .onlineexperience > .imagebox{
        @include scroll;
        height:650px;
        margin-bottom:50px;
    > .left{
      > .sangría{
        @include max-width900;
      }    
    } 
    > .right{
      > .top{
          @include clear_space-between;
        > .yoga{
            @include max-width900;
          }
        > .music{
            @include max-width900;
          }
        }
      > .bottom{
            @include max-width900;
        }
      }
    }
  }

  @media (min-width:741px) and (max-width: 1130px){
    .right{
      > .top{
          @include clear_space-between;
      }
    }
    > .news{
      height:850px;
      > .section-informations > .section-information{
        width:45%;
        margin-top:50px;
    }
  }
    > .section-linkcollections{
      display: inline;
    > .section-linkcollection{
        width:100%;
        border-bottom:solid 1px rgb(131, 131, 131);
        margin:20px;
        padding-bottom:20px;
      }
    }
    > .section-linkcollections > .section-linkcollection ul{
        display:flex;
        flex-wrap: wrap;
      > li{
          width:33%;
      }
    }
    > .topfooter{
        flex-wrap :wrap-reverse;
        width:700px;
        margin:0 auto;
        text-align: center;
      > .right{
          margin:0 auto;
      }
    }
  }

  @media (min-width:900px) and (max-width: 1130px) {
    > .onlineexperience > .imagebox{
    > .left{
      .sangría{
          width: 60vw;
          height: 50vw;
          margin-right:20px; 
    }    
  }
    > .right{
      > .top{
        display:initial;
        > .yoga{
            width: 25vw;
            height: 22.5vw;
        }
        > .music{
            margin-top:50px;
            width: 25vw;
            height: 22.5vw;
        }
      }
      > .bottom{
          display: none;
      }
    }
  }
  }

  > .catchcopy{
    > p{
      @media (max-width: 1920px) {
        font-size: calc(1.875rem + ((1vw - 9.5px) * 2.5773));
        min-height: 0vw;
      }
      @media (max-width: 950px) {
        font-size: 30px;
        width:150%;
      }
    }   
  }
  
}