// オンライン体験/ペンギン画像
.bottom{
  width:100%;
  height:45%;
  margin-top:35px;
  background-image:url("/Users/mikaijun/airbnb/src/image/penguin.png");
  background-size:cover;
  border-radius:30px;
  position: relative;
  > .explanation{
    background-color:$explanation;
    height:75px;
    border-radius:0px 0px 25px 25px;
    position: relative;
    position: absolute;
    width:100%;
    bottom:0;
    p{
      width:90%;
      padding:10px;
    }
  }
}

// オンライン体験/サングリア画像
.sangría{
  width:90%;
  border-radius:25px;
  height:100%;
  background-size:cover;
  position: relative;
  background-image:url("/Users/mikaijun/airbnb/src/image/sangría.png");
    > .explanation{
      background-color:$explanation;
      height:75px;
      border-radius:0px 0px 25px 25px;
      position: relative;
      position: absolute;
      width:100%;
      bottom:0;
    p{
    max-width:50%;
    padding:10px;
    }
  }
}

// オンライン体験/ヨガ画像
.yoga{
  width:48%;
  height:100%;
  border-radius:25px;
  background-size:cover;
  position: relative;
  background-image:url("/Users/mikaijun/airbnb/src/image/yoga.png");
  > .explanation{
    background-color:$explanation;
    height:75px;
    border-radius:0px 0px 25px 25px;
    position: relative;
    position: absolute;
    width:100%;
    bottom:0;
    p{
      width:90%;
      padding:10px;
    }
  }
}

// オンライン体験/音楽画像
.music{
  width:48%;
  height:100%;
  border-radius:25px;
  background-size:cover;
  position: relative;
  background-image:url("/Users/mikaijun/airbnb/src/image/music.png");
  > .explanation{
    background-color:$explanation;
    height:75px;
    border-radius:0px 0px 25px 25px;
    position: relative;
    position: absolute;
    width:100%;
    bottom:0;
    p{
      width:90%;
      padding:10px;
    }
  }
}

// 最新情報の文字
.information-nav{
  > .title{
    font-size:19px;
    padding-bottom:10px;
  }
  > li{
    list-style: none; 
    border-top: solid 1px $bodergray;
    padding:15px 0px;
    font-weight: bold;
    > span{
      color:$gray;
      font-size:14px;
      font-weight: normal;
    }
  }
}
  