@import "../color";

// 740px以下
@media (max-width: 740px){
  .section-layout > .fixedheader{
    opacity: 0;
    width:10%;
  }
  .section-layout > .blackbox > .experiencesheader{
    display: none;
  }
  .section-layout > .blackbox > .whiteheader{
    background-color:$white;
    height:20px;
    padding:20px 20px;
    display: flex;
    justify-content:space-between;
    width:95%;
    @import "responsive-components";
  }
  .section-layout > .blackbox > .imagebox{
    @import "responsive-components";
  }
  .section-layout > .blackbox > .explanation{
    display: initial;
    @import "responsive-components";
  }
  .section-layout > .canexperience{
    display: initial;
    @import "responsive-components";
    >.experiencetext{
      padding-left:initial;
      margin:30px 20px;
    }
  }
  .section-layout > .challenge-background{
    height:auto;
  }
  .section-layout > .challenge-background > .challenge{
    display: initial;
    @import "responsive-components";
  }
  .section-layout > .hosts{
    display: initial;
    @import "responsive-components";
  }
  .section-layout >.belongings{
    display: initial;
    @import "responsive-components";
    >.belongingstexts{
      padding-left:20px;
      width:90%;
    }
  }
  .section-layout >.participation{
    display: initial;
    @import "responsive-components";
  }

  .section-layout >.guestreview{ 
    display: initial;
    @import "responsive-components";
  }

  .section-layout > .guestreview  >.reviews{
    padding:30px 20px;
    @import "responsive-components";
  }

  .section-layout > .reservation > .title {
    font-size:22px;
  }
  .section-layout > .linkcollections{
    display: none;
  }
  .section-layout >.note{
    display: initial;
  }
  .section-layout >.note >.sticky {
    width:initial;
    height:80px;
    position: initial;
    >.title{
      font-size:23px;
      padding-left:50px;
    }
  }
  .section-layout > .topfooter{ 
    text-align:initial;
    @import "responsive-components";
  } 
  .section-layout  >.fixedfooter{
  width:97%;
  }
}



// 741px~1130px
@media (min-width:741px) and (max-width: 1130px){
  .section-layout>.blackbox{
    position: relative;
    height:900px; 
  }
  .section-layout >.blackbox > .explanation{
    @import "responsive-components";
  }

  .section-layout > .challenge-background  > .challenge{
    @import "responsive-components";
  }
 
  .section-layout > .linkcollections{
    display: inline;
    > .linkcollection{
      width:100%;
      border-bottom:solid 1px $bodergray;
      margin:20px;
      padding-bottom:20px;
      @import "responsive-components";
    }
  }

  .section-layout > .topfooter{
      flex-wrap :wrap-reverse;
      width:700px;
      margin:0 auto;
      text-align: center;
    > .right{
        margin:0 auto;
    }
  }
}



// 1130px以下
@media (max-width: 1130px){
.section-layout > .note > .notetexts{
  width:100%;
  @import "responsive-components";
  }
.section-layout >.fixedfooter{
  line-height:initial;
  @import "responsive-components";
  >.fixedleft{
    display: none;
  }
  >.fixedright{
    display: none;
  }
}
.section-layout > .fixedfooter  > .miniright{
    background-color:$wine;
    color:$white;
    font-weight: bold;
    text-align: center;
    width:200px;
    height:50px;
    line-height:50px;
    margin:10px 0px 0px 30px;
    border-radius: 5px;
    margin-right:10px;
  }
}

// 1130px以上
@media (min-width: 1130px){
.section-layout > .note > .notetexts{
  @import "responsive-components";
  }
.section-layout > .fixedfooter >.minileft{
    display: none;
  }
.section-layout > .fixedfooter >.miniright{
    display: none;
  }
}

// その他のオンライン体験
.section-layout > .otherexperiences > .experiences{
  @import "responsive-components";
}
