@import "../color";

.body{
  width:100vw;
  height:100vh;
}

.section-layout{
  width:100%;
  position: relative;
}

// 固定ヘッダー
.section-layout > .fixedheader{
  width:100%;
  height:20px;
  position: fixed;
  background-color:$white;
  top: 0px;
  left: 0px;
  z-index: 1;
  display:none;
  border-bottom:$bodergray solid 1px;
  padding:15px 50px;
  font-size:14px;
  color:$light-green;
  margin-bottom:30px;
}



// 黒枠
.section-layout > .blackbox{
  background-color:$black;
  padding-bottom:30px;
}
// 黒枠/ヘッダー
.section-layout > .blackbox > .experiencesheader{
  padding-top:20px;
  display:flex;
  justify-content:space-between;
  max-width:1300px;
  margin:0 auto;
}
// 黒枠/ヘッダー/検索ボックス
.section-layout > .blackbox > .experiencesheader  > .searchbox{
  display: flex;
  height:45px;
  background-color:$explanation;
  border-radius: 15px;
  color:$light-gray;
  font-size:14px;
  width:280px;
  z-index: 1;
  > .form{
    width:40%;
    border-right: thin solid $bodergray;
    text-align: center;
    line-height:45px;
  }
  > .form:nth-child(3){
    border-right:initial;
    font-size:20px;
    width:10%;
    padding-left:20px;
  }
}
// 黒枠/ヘッダー/右メニュー
.section-layout > .blackbox > .experiencesheader > .menu > ul{
  display: flex;
  list-style: none;
    li{
    padding:10px;
      a{
      text-decoration:none;
      font-size:15px;
      color:$white;
    }
      .fa-globe{
      margin-right:7px;
    }
    .register{
      padding:15px;
      border-radius: 20px;
      background-color:$light-black;
    }
  }
}

// 黒枠/画像枠
.section-layout >.blackbox > .imagebox{
  width:95vw;
  max-width:1200px;
  display:flex;
  margin:20px auto;
  position: relative;
  height:30vw;
}
// 黒枠/画像枠/画像詳細
.section-layout >.blackbox > .imagebox{
  > .imagesmile{ 
    width:28vw;
    margin:0px 5px;
    background-size:cover;
    background-image:url("/Users/mikaijun/airbnb/src/image/dance.png");
  }
  > .imagephoenix{ 
    width:28vw;
    margin:0px 5px;
    background-size:cover;
    background-image:url("/Users/mikaijun/airbnb/src/image/phoenix.png");
  }
  > .smallimages{
    width:15vw;
    > .imagedrink{
      height:49.5%;
      background-size:cover;
      background-image:url("/Users/mikaijun/airbnb/src/image/drink.png");
      margin-bottom:5px;
    }
    > .imageshoot{
      height:49.5%;
      background-size:cover;
      background-image:url("/Users/mikaijun/airbnb/src/image/shoot.png");
    }
  }
  > .imagecooking{ 
    width:28vw;
    margin:0px 5px;
    background-size:cover;
    background-image:url("/Users/mikaijun/airbnb/src/image/cooking.png");
  }
} 
// 黒枠/画像枠/SNSボタン
.section-layout >.blackbox > .imagebox > .snsbtn{
  width:200px;
  height:40px;
  position: absolute;
  right:30px;
  top:20px;
  display: flex;
  justify-content:space-between;
  > .share{
    background-color:$light-gray;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    padding:12px 15px 15px 15px;
    line-height:1;
    font-size:14px;
    font-weight: bold;
    > .fas{
    padding-right:10px;
  }
}
  > .like{
    background-color:$light-gray;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    padding:12px 15px 15px 15px;
    line-height:1;
    font-size:14px;
    font-weight: bold;
    > .far{
    padding-right:10px;
    }
  }
}


// 黒枠/説明文
.section-layout > .blackbox > .explanation{
  width:95vw;
  max-width:1200px;
  display:flex;
  margin:20px auto;
  position: relative;
}
// 黒枠/説明文/左側アイコン
.section-layout > .blackbox > .explanation >.left{
  width:25%;
  > .icon{
    height:20px;
    width:120px;
    background-color:$light-white;
    border-radius: 5px;
    display: flex;
    font-weight: bold;
    padding:5px;
    margin-bottom:10px;
    > .fas{
      padding-right:5px;
      font-size:9px;
      line-height:1.5;
    }
    > p{
      font-size:12px;
      line-height:1.5;
    }
  }
}
// 黒枠/説明文/左側タイトル
.section-layout > .blackbox > .explanation > .left > .title{
  width:90%;
  color:$white;
  font-size:30px;
  line-height:1.1;
  margin-bottom:10px;
}
// 黒枠/説明文/左側国名
.section-layout > .blackbox > .explanation > .left > .country{
  height:25px;
  width:200px;
  color:$white;
  margin-bottom:10px;
}
// 黒枠/説明文/左側レビュー
.section-layout > .blackbox > .explanation > .left > .review{
  height:25px;
  width:150px;
  font-size:14px;
  color:$white;
  margin-bottom:10px;
  span{
    font-weight: bold;
    margin-right:5px;
    
  }
  .fas{
    margin-right:5px;
  }
}
// 黒枠/説明文/左側タグ
.section-layout > .blackbox > .explanation > .left > .tags{
  height:50px;
  width:200px;
  display: flex;
  font-size:12px;
  flex-wrap :wrap;
  margin-bottom:10px;
  > .tag{
    background-color:$light-black;
    border-radius: 3px;
    height:20px;
    padding:0px 5px;
    margin-right:7px;
    color:$white;
  }
}
// 黒枠/説明文/左側翻訳
.section-layout > .blackbox > .explanation > .left > .translation{
  width:270px;
  > .border{
    margin-top:5px;
    border:  solid 2px;
    padding:10px 15px;
    display: flex;
    color:$white;
    text-align: center;
    > .fas{
      margin-right:5px;
      font-size:30px;
    }
    > p{
      line-height:1.7;
    }
  }
}
// 黒枠/説明文/右側全体
.section-layout > .blackbox > .explanation >.right{
  width:50%;
  margin-left:80px;
}
// 黒枠/説明文/右側デバイス画像
.section-layout > .blackbox > .explanation >.right > .devise{
  margin:30px 0px;
  display: flex;
  border-top:$bodergray solid 1px;
  border-bottom:$bodergray solid 1px;
  color:$white;
  font-size:14px;
  line-height:57px;
  padding:10px 0px;
}
// 黒枠/説明文/右側詳細
.section-layout > .blackbox > .explanation >.right > .specs{
  height:150px;
  width:70%;
  margin-top:20px;
  display: flex;
  justify-content:space-between;
  font-size:13px;
  color:$white;
  > .spec{
    > .fas{
      color:$gray;
      margin-bottom:10px;
    }
    > .title{
      color:$gray;
    }
  }
}

  



// 体験できる事
.section-layout > .canexperience{
  display: flex;
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  margin-bottom:40px;
}
// 体験できる事/左タイトル
.section-layout > .canexperience  >.sticky {
  width: 20vw;
  height: 10vh;
  position: -webkit-sticky; 
  position: sticky; 
  top: 55px; 
  left: 0; 
  > .title{
    font-size:30px;
    font-weight: bold;
    min-width:150px;
    padding-top:40px;
  }
}
// 体験できる事/右テキスト
.section-layout > .canexperience > .text{
  padding-top:45px;
  max-width:900px;
  line-height:2.0;
  padding-left:60px;
}




// チャレンジ
.section-layout > .challenge-background{
  height:400px;
  background-color:$light-gray;
}
// チャレンジ/文字全体
.section-layout > .challenge-background > .challenge{
    margin:0 auto;
    max-width:1200px;
    padding:0px 45px 45px 45px;
    color:$light-black;
    display: flex;
    padding-top:120px;
}
// チャレンジ/左タイトル
.section-layout > .challenge-background > .challenge > .title{
  font-size:30px;
  font-weight: bold;
  min-width:150px;
}
// チャレンジ/右文字全体
.section-layout > .challenge-background > .challenge > .texts{
  padding-top:45px;
  display: flex;
  width:85%;
  padding-left:70px;
}
// チャレンジ/右文字詳細
.section-layout > .challenge-background > .challenge > .texts > .text{
  margin:0px 20px;
  width:33%;
  > .minititle{
    font-weight: bold;
  }
}





// ホスト
.section-layout > .hosts{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  display: flex;
}
// ホスト/左タイトル
.section-layout > .hosts >.sticky {
  width: 20vw;
  height: 10vh;
  position: -webkit-sticky; 
  position: sticky; 
  top: 55px; 
  left: 0; 
  > .title{
    padding-top:45px;
    font-size:30px;
    font-weight: bold;
    min-width:150px;
  }
}
// ホスト/右側
.section-layout > .hosts > .hostdata{
  padding-top:45px;
  padding-left:100px;
  > img{
    border-radius: 50%; 
  }
  > .hostname{
    font-size:22px;
    font-weight: bold;
    margin-top:10px;
  }
  > .hosttext{
    line-height:2.0;
    max-width:1000px;
  } 
  > .contact{
    color:$light-green;
    margin:20px 0px;
    border: $light-green solid 2px;
    border-radius:5px;
    width:100px;
    padding:10px 10px;
    font-weight: bold;
  }
}




// 持ち物
.section-layout > .belongings{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  display: flex;
}
// 持ち物/左タイトル
.section-layout > .belongings > .sticky {
  width: 20vw;
  height: 10vh;
  position: -webkit-sticky; 
  position: sticky; 
  top: 55px; 
  left: 0; 
  > .title{
    padding-top:45px;
    font-size:30px;
    font-weight: bold;
    min-width:150px;
  }
}
// 持ち物/右側全体
.section-layout > .belongings > .texts{
  padding-top:45px;
  padding-left:100px;
  width:100%;
}
// 持ち物/右側テキスト詳細
.section-layout > .belongings > .texts > .text{
  height:65px;
  margin-top:30px;
  border-bottom:$bodergray solid 1px;
  display: flex;
  > .far{
    font-size:30px;
    margin-right:10px;
  }
  > p{
    line-height:2;
    font-size:15px;
  }
  span{
    color:$light-green;
  }
}





// 参加方法
.section-layout > .participation{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  display: flex;
}
// 参加方法/左タイトル
.section-layout > .participation > .sticky {
  width: 20vw;
  height: 10vh;
  position: -webkit-sticky; 
  position: sticky; 
  top: 55px; 
  left: 0; 
  > .title{
    font-size:30px;
    font-weight: bold;
    min-width:150px;
    padding-top:45px;
  }
}
// 参加方法/右側全体
.section-layout > .participation > .texts{
  padding-top:45px;
  padding-left:100px;
  width:100%;
}
// 参加方法/ビデオ通話
.section-layout > .participation > .texts > .videocall{
  border-bottom:$bodergray solid 1px;
  padding-bottom:50px;
  > .title{
    font-size:22px;
    font-weight: bold;
    margin:10px 0px;
    }
    > .details{
    margin:20px 0px;
    font-size:18px;
    span{
      font-weight:bold;
      text-decoration: underline
    }
  }
  > .comment{
    background-color:$light-gray;
    padding:20px;
    border-radius: 10px;
    font-size:15px;
    max-width:800px;
    span{
      font-size:13px;
      font-weight: bold;
    }
  }
}
// 参加方法/貸し切り
.section-layout > .participation > .texts > .charter{
  > .title{
    font-size:22px;
    font-weight: bold;
    margin:10px 0px;
  }
  > .details{
    font-size:18px;
  }
}
  


// レビュー
.section-layout > .guestreview{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  display: flex;
  padding-top:45px;
  margin-bottom:40px;
}
// レビュー/左側タイトル
.section-layout > .guestreview >.titles{
  >.sticky {
    width: 20vw;
    height: 10vh;
    position: -webkit-sticky; 
    position: sticky; 
    top: 55px; 
    left: 0; 
    height:40vh;
    >.title{
      padding-top:45px;
      font-size:30px;
      font-weight: bold;
      min-width:150px;
      margin-bottom:10px;
    }
  }
}
// レビュー/左側総合レビュー
.section-layout > .guestreview >.titles > .sticky > .totalreview{
  font-weight: bold;
  width:255px;
  > .fas{
    color:$light-green;
  }
}
// レビュー/左側翻訳
.section-layout > .guestreview >.titles > .sticky > .traditional{
  margin-top:20px;
  border:$light-black solid 2px;
  padding:10px 20px;
  max-width:260px;
  color:$light-black;
  font-weight: bold;
  border-radius:5px ;
}
// レビュー/右側全体
.section-layout > .guestreview > .reviews{
  padding-top:45px;
  padding-left:120px;
} 
// レビュー/右側レビュー事の空白
.section-layout > .guestreview > .reviews > .review{
  margin-bottom:30px;
}
// レビュー/右側画像
.section-layout > .guestreview > .reviews > .review >.top{
  display:flex;
    img{
    border-radius: 50%; 
  }
}
// レビュー/右側画像との空白
.section-layout > .guestreview > .reviews > .review > .top > .right{
  margin-left:20px;
}
// レビュー/右側レビュワー情報
.section-layout > .guestreview > .reviews > .review > .top > .right > .reviewuser{
  display:flex;
  font-size:15px;
  > .username{
    font-weight: bold;
    margin-right:5px;
  }
  > .month{
    font-size:13px;
    line-height:2;
  }
}
// レビュー/右側レビュー星
.section-layout > .guestreview > .reviews > .review > .top > .right > .reviewstar{
  > .fas{
    color:$light-green;
  }
}
// レビュー/右側レビューコメント
.section-layout > .guestreview > .reviews > .review > .down{
  margin-top:15px;
  border-bottom:$bodergray solid 1px;
  padding-bottom:30px;
  span{
    color:$light-green;
  }
}
// レビュー/右側レビュー5個目だけ下線なし
.section-layout > .guestreview > .reviews > .review:nth-child(5) > .down{
    border-bottom:initial;
}
// レビュー/ページネーション
.section-layout > .guestreview > .reviews > .review > .pagination{
  color:$light-green;
  font-size:14px;
  display: flex;
  span{
    letter-spacing:40px;
  }
  > .bot{
    margin-right:20px;
  }
  > .fas{
    font-size:30px;
    margin-left:30px;
    line-height:0.7;
  }  
}
 


// 予約全体設定
.section-layout > .reservation{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  > .title{
    font-size:30px;
    font-weight: bold;
    min-width:150px;
    margin-bottom:50px;
  }
  > .calendars{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}

// 予約全体設定/月表示
.section-layout > .reservation > .calendars  > .calendar{
  display: inline-block;
  padding:0px 30px;
  > .month{
    font-size:18px;
    margin-bottom:20px;
  }
}
// 予約全体設定/カレンダー
.section-layout > .reservation > .calendars  > .calendar >.calendar > table {
  width:90%;
  tr{
    th{
      font-weight: normal;
      font-size:12px;
    }
    td{
      background-color:$light-gray;
      border-radius: 3px;
      text-align: center;
      font-size:10px;
      padding:7px;
    }
    > .none{
      opacity: 0;
    }
  }
}
// 予約全体設定/日付選択
.section-layout > .reservation > .daychoice{
  color:$light-green;
  margin:20px 0px;
  border: $light-green solid 2px;
  border-radius:5px;
  width:100px;
  padding:10px 10px;
  font-weight: bold;
  width:130px;
}

// 注意
.section-layout > .note{
  margin:0 auto;
  max-width:1200px;
  padding:0px 45px 45px 45px;
  color:$light-black;
  display: flex;
}
// 注意/左側タイトル
.section-layout > .note >.sticky {
  width: 20vw;
  height: 10vh;
  position: -webkit-sticky; 
  position: sticky; 
  top: 55px; 
  left: 0; 
  > .title{
    font-size:30px;
    font-weight: bold;
    min-width:150px;
    padding-top:45px;
  }
}
// 注意/右側全体
.section-layout > .note > .texts{
  padding-top:45px;
  padding-left:30px;
}
// 注意/右側1つのテキスト詳細
.section-layout > .note > .texts > .text{
  display: flex;
  border-bottom:$bodergray solid 1px;
  padding-bottom:40px;
  margin-bottom:40px;
  padding-left:30px;
}

// 注意/右側文字詳細
.section-layout > .note > .texts > .text{
  > .minititle{
    width:250px;
    font-size:24px;
    font-weight: bold;
    margin-right:20px;
  }
  > .text{
    width:31vw;
    > span{
      color:$light-green;
      font-weight: bold;
      font-size:14px;     
    }      
  }
  >.fas {
    font-size:25px;
  }
} 

// 注意/右側最後下線なし
.section-layout > .note > .texts > .text:nth-child(4){
  border-bottom:initial;
}



// その他体験全体
.section-layout >.otherexperiences{
  margin:0 auto;
  max-width:1500px;
  padding:100px 20px;
  border-bottom:$bodergray solid 1px;
  > .title{
    font-size:30px;
    font-weight: bold;
    color:$light-black;
  }
  > .experiences{
    margin-top:30px;
    display: flex;
    overflow-x:auto;
  }
}
// その他体験1つのサイズ
.section-layout >.otherexperiences > .experiences > .experience{
  height:100%;
  margin:0px 7px;
  color:$light-black;
}
// その他体験画像
.section-layout >.otherexperiences > .experiences > .experience > .image{
  background-image: url("/Users/mikaijun/airbnb/src/image/Chernobyl.png");
  background-size:cover;
  border-radius: 10px;
  height:15vw;
  width:13vw;
  position: relative;
  >.online{
    background-color:$black;
    width:65px;
    height:20px;
    font-size:12px;
    color:$white;
    position: absolute;
    left:15px;
    top:10px;
    border-radius: 5px;
    font-weight: bold;
    padding-left:3px;
  }
}
// その他体験国名
.section-layout >.otherexperiences > .experiences > .experience >.country{
  margin:5px 0px;
  font-size:12px;
  font-weight: bold;
  max-width:200px;
  white-space:pre-wrap;
}
// その他体験タイトル
.section-layout >.otherexperiences > .experiences > .experience >.minititle{
  margin-bottom:6px;
  max-width:200px;
  white-space:pre-wrap;
}
// その他体験値段
.section-layout >.otherexperiences > .experiences > .experience >.price{
  font-size:15px;
}
// その他レビュー
.section-layout >.otherexperiences > .experiences > .experience > .review{
  font-size:12px;
  >.fas{
    margin-right:3px;
  }
  span{
    color:$gray;
    margin-left:3px;
  }
}

// その他2枚目以降の画像
.section-layout > .otherexperiences > .experiences{
  > .experience:nth-child(2) > .image{
    background-image: url("/Users/mikaijun/airbnb/src/image/farm.png");
  }
  > .experience:nth-child(3) > .image{
    background-image: url("/Users/mikaijun/airbnb/src/image/zazen.png");
  }
  > .experience:nth-child(4) > .image{
    background-image: url("/Users/mikaijun/airbnb/src/image/gogh.png");
  }
  > .experience:nth-child(5) > .image{
    background-image: url("/Users/mikaijun/airbnb/src/image/yagi.png");
  }
  > .experience:nth-child(6) > .image{
    background-image: url("/Users/mikaijun/airbnb/src/image/table.png");
  }
}

// その他体験全て表示
.section-layout >.otherexperiences > .allshow{
  margin-top:50px;
  color:$light-green;
  font-weight: bold;
}


/*フッター*/
.section-layout > .topfooter{
  padding:50px 0px 100px 0px;
}


// 固定フッター全体
.section-layout > .fixedfooter{
  height:70px;
  width:100%;
  border-top:$bodergray solid 1px;
  position: absolute;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content:space-between;
  background-color:$white;
  line-height:70px;
  padding:0px 0px;
}
// 固定フッター左余白
.section-layout > .fixedfooter > .left{
  display: flex;
  padding-left:30px;
}
// 固定フッター左画像
.section-layout > .fixedfooter > .left >.image > img {
  margin-top:10px;
  border-radius: 50%;
}
// 固定フッター左詳細
.section-layout > .fixedfooter > .left{
  >.title{
    margin:0px 10px;
    font-size:13px;
    font-weight: bold;
  }
  >.review{
    font-size:10px;
    font-weight: bold;
    color:$light-green;
  }
  >.reviewcount{
    font-size:10px;
    color:$gray;
  }
}
 
// 固定フッター右余白
.section-layout > .fixedfooter > .right{
  display: flex;
  padding-right:30px;
}
.section-layout > .fixedfooter > .right{
  >.price{
    font-weight: bold;
    font-size:13px;
  }
  >.daybtn{
    background-color:$wine;
    color:$white;
    font-weight: bold;
    text-align: center;
    width:200px;
    height:50px;
    line-height:50px;
    margin:10px 0px 0px 30px;
    border-radius: 5px;
  }
}

// 黒枠をスクロール過ぎると固定フッター背景が黒くなる
.section-layout > .black{
  background-color:$black;
  color:$white;
  border-top:initial;
}
