// 〜しよう/文字
.letslist{
  padding:0px 2vw;
  >.letstitle{
    font-size:25px;
    font-weight: bold;
    margin-top:20px;
    max-width:333px;
  }
  >.letscomment{
    margin-top:20px;
    line-height:2;
    width:300px;
  }
} 
// 詳しい流れ
.procedure{
  display: flex;
  margin:40px 0px;
  >.procedureleft{
    height:400px;
    width:450px;
  }
  >.procedureright{
    padding-left:60px;
    margin-top:110px;
    >.proceduretitle{
      font-size:23px;
      font-weight: bold;
    }
    >.proceduretext{
      margin-top:20px;
      max-width:450px;
      line-height:1.5;
      > span{
        color:$dark-green;
        text-decoration: underline;
      }
    }
  }
}
// 自分の世界/下部
.myworldlist{
  width:100%;
  padding:0px 15px;
  >.myworldimage{
    height:30vw;
    width:30vw;
  }
  >.minititle{
    font-size:22px;
    font-weight: bold;
    margin:20px 0px;
  }
  >.minitext{
    letter-spacing:1px;
    line-height:1.5;
  }
  >.green{
    color:$dark-green;
    margin-top:5px;
  }
}
// サポート/下部
.supportlists{
  display: flex;
  >.supportlist{
    padding:30px;
    max-width:350px;
    > .supporticon{
      height:45px;
      width:45px;
    }
    > .minititle{
      font-size:25px;
      font-weight: bold;
      margin-top:10px;
    }
    > .minitext{
      margin-top:10px;
      line-height:1.75;
    }
  }
}

// 質問タイトル
.questiontitle{
  font-size:45px;
  text-align: center;
  font-weight: bold;
  margin:100px 0px;
  color:$light-black;
}
// 質問/文字
.question-nav{
  display:flex;
  flex-wrap: wrap;
  > li{
    width:48%;
    list-style: none; 
    font-size:18px;
    color:$light-green;
    padding:30px 0px;
    margin:0px 10px;
    border-bottom:$bodergray solid 1px;
  }
}