@media (max-width: 740px){
  // 固定ヘッダー左側
  .whiteleft{
    font-size:14px;
    font-weight: bold;
  }
  // 固定ヘッダー右側
  .whiteright{
    color:$gray;
    font-size:17px;
    >.fas{
      margin-right:15px;
    }
  }
  // 画像の中SNSボタン
  .share-save {
    display: none;
  }
  // 黒枠説明文左側
  .explanation-left{
    width:initial;
    padding:0px 20px;
    > .tags{
      width:initial;
    }
  }
  // 黒枠説明文右側
  .explanation-right{
    width: initial;
    margin-left:initial;
    padding:0px 20px;
    > .devise{
      padding:initial;
      position: relative;
      line-height:initial;
      height:60px;
      > p{
        width:100%;
        padding:15px;
        line-height:initial;
      }
      > img{
        position: absolute;
        right:0px;
      }
    }
    > .specs{
      width:500px;
      flex-wrap :wrap;
      >.spec{
        width:200px;
      }
    }
  }
  // メインページタイトル
  .sticky {
    width:initial;
    position: initial;
    >.title{
      font-size:23px;
      padding:20px 0px 0px 20px;
    }
  }
  // 挑戦タイトル
  >.challengetitle{
    width:90%;
    height:60px;
    margin:10px 0px 0px 20px;
    font-size:23px;
    border-bottom:$bodergray solid 1px;
  }
  // 挑戦テキスト
   .challengetexts{
    display: initial;
    > .challengetext{
      width:95%;
      display: flex;
      margin-bottom:30px;
      > .minititle{
        display: none;
      }
      >.minitext{
        margin-left:20px;
        font-size:14px;
      }
    }
  }
// ホストページ全体
  .hostdata{
    padding:0px 20px;
    img{
      margin-top:30px;
    }
    >.hostname{
      margin-top:30px;
    }
  }
//参加方法テキスト
  .participationtexts{
    padding-left:20px;
    width:90%;
    width:95%;
    margin-top:30px;
    > .videocall > .participationtitle {
      font-size:18px;
    }
    > .charter > .participationtitle {
      font-size:18px;
      margin:20px 0px;
    }
  }
//レビュー左側詳細
  .titles{
    padding-left:20px;
    width:90%;
    margin-top:30px;
    >.sticky{
      width:initial;
      >.title{
        font-size:23px;
      }
      > .totalreview {
        display:none;
      }
      >.traditional {
        display: none;
      }
    }
  }
  // ページネーション
  .review >.pagination{
    >span{
      display: none;
    }
    >.bot{
      display: none;
    }
    >.no233{
      display: none;
    }
    >.fas{
      margin-left:initial;
    }
  }
// フッター右側
  .footer-right{
    margin:initial;
  > .sns{
      display: none;
    }
  }
}

@media (min-width:741px) and (max-width: 1130px){
  // 黒枠説明文左側
  .explanation-left {
    width:55%;
    .tags {
      width:initial;
    }
  }
  // 黒枠説明文右側
  .explanation-left {
    margin-left: initial;
    > .devise{
    height:70px;
    line-height:initial;
    }
    > .specs{
    width:55vw;
    height:initial;
    position: absolute;
    left:30px;
    bottom:-100px;
    }
  }
  // 挑戦タイトル
  .challengetitle {
    width:280px;
  }
  // 挑戦説明文
  .challengetexts{
    display: initial;
    padding-left:initial;
    > .challengetext{
      width:95%;
      display: flex;
      margin-bottom:30px;
      > .minititle{
        display: none;
      }
      >.minitext{
        margin-left:20px;
        font-size:14px;
      }
    }
    >.challengetext >.minitext{
      font-size:16px;
    }
  }
  // リンク集詳細
  .link-nav{
    display:flex;
    flex-wrap: wrap;
    > li{
      width:33%;
    }
  }
}

@media (max-width: 1130px){
  // 注意文章
  .notetext{
    margin-bottom:20px;
    padding-bottom:20px;
    >.minititle{
      font-size:18px;
      width:90%;
    }
    >.text{
    display:none;
    }
  } 
  // 固定フッター左側
  .minileft{
    font-size:10px;
    padding:17px;
    > .price{
      font-weight: bold;
      font-size:13px;
    }
    > .review{
      color:$light-green;
      display: flex;
      > p{
        font-weight: bold;
      }
      >.fas{
        line-height:1.5;
      }
      > span{
        font-size:10px;
        color:$gray;
      }
    }
  }
}

@media (min-width: 1130px){
  // 注意右矢印アイコン
  .notetext > .fas {
    display:none;
  }
}

.experience > .image{
  @media (min-width:1110px) and (max-width: 1440px){
    height:22vw;
    width:18vw;
  } 
  @media (min-width:740px) and (max-width: 1110px){
    height:28vw;
    width:23vw;
  } 
  @media (max-width: 740px){
    height:55vw;
    width:45vw;
  } 
}  