// 黒枠/ヘッダー/検索ボックス
.searchbox{
  display: flex;
  height:45px;
  background-color:$explanation;
  border-radius: 15px;
  color:$light-gray;
  font-size:14px;
  width:280px;
  z-index: 1;
  > .form{
    width:40%;
    border-right: thin solid $bodergray;
    text-align: center;
    line-height:45px;
  }
  > .form:nth-child(3){
    border-right:initial;
    font-size:20px;
    width:10%;
    padding-left:20px;
  }
}

// 黒枠/ヘッダー/右メニュー
.menu{
  @import "_components.online-details";
}
// 黒枠/画像枠/ポーズ画像(一番左)
.imagesmile{ 
  width:28vw;
  margin:0px 5px;
  background-size:cover;
  background-image:url("/Users/mikaijun/airbnb/src/image/dance.png");
}
// 黒枠/画像枠/フェニックス画像(左から2番目)
.imagephoenix{ 
  width:28vw;
  margin:0px 5px;
  background-size:cover;
  background-image:url("/Users/mikaijun/airbnb/src/image/phoenix.png");
}
// 黒枠/画像枠/小さい画像
.smallimages{
  width:15vw;
  > .imagedrink{
    height:49.5%;
    background-size:cover;
    background-image:url("/Users/mikaijun/airbnb/src/image/drink.png");
    margin-bottom:5px;
  }
  .imageshoot{
    height:49.5%;
    background-size:cover;
    background-image:url("/Users/mikaijun/airbnb/src/image/shoot.png");
  }
}
// 黒枠/画像枠/料理画像(一番右)
.imagecooking{ 
  width:28vw;
  margin:0px 5px;
  background-size:cover;
  background-image:url("/Users/mikaijun/airbnb/src/image/cooking.png");
}

// 黒枠/画像枠/SNSボタン
.snsbtn{
  width:200px;
  height:40px;
  position: absolute;
  right:30px;
  top:20px;
  display: flex;
  justify-content:space-between;
  > .share{
    background-color:$light-gray;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    padding:12px 15px 15px 15px;
    line-height:1;
    font-size:14px;
    font-weight: bold;
    > .fas{
    padding-right:10px;
  }
}
  > .like{
    background-color:$light-gray;
    border-radius: 5px;
    display: flex;
    justify-content:space-between;
    padding:12px 15px 15px 15px;
    line-height:1;
    font-size:14px;
    font-weight: bold;
    > .far{
    padding-right:10px;
    }
  }
}

// 黒枠/説明文/左側アイコン
.explanationleft{
  width:25%;
  > .icon{
    height:20px;
    width:120px;
    background-color:$light-white;
    border-radius: 5px;
    display: flex;
    font-weight: bold;
    padding:5px;
    margin-bottom:10px;
    > .fas{
      padding-right:5px;
      font-size:9px;
      line-height:1.5;
    }
    > p{
      font-size:12px;
      line-height:1.5;
    }
  }
}

// 黒枠/説明文/左側タイトル
.explanationleft > .title{
  width:90%;
  color:$white;
  font-size:30px;
  line-height:1.1;
  margin-bottom:10px;
}

// 黒枠/説明文/左側国名
.explanationleft > .country{
  height:25px;
  width:200px;
  color:$white;
  margin-bottom:10px;
}

// 黒枠/説明文/左側レビュー
.explanationleft > .review{
  height:25px;
  width:150px;
  font-size:14px;
  color:$white;
  margin-bottom:10px;
  span{
    font-weight: bold;
    margin-right:5px;
  }
  .fas{
    margin-right:5px;
  }
}

// 黒枠/説明文/左側タグ
.explanationleft > .tags{
  height:50px;
  width:200px;
  display: flex;
  font-size:12px;
  flex-wrap :wrap;
  margin-bottom:10px;
  > .tag{
    background-color:$light-black;
    border-radius: 3px;
    height:20px;
    padding:0px 5px;
    margin-right:7px;
    color:$white;
  }
}

// 黒枠/説明文/左側翻訳
.explanationleft{
  @import "_components.online-details";
}

// 黒枠/説明文/右側
.explanationright{
  width:50%;
  margin-left:80px;
  > .devise{
    margin:30px 0px;
    display: flex;
    border-top:$bodergray solid 1px;
    border-bottom:$bodergray solid 1px;
    color:$white;
    font-size:14px;
    line-height:57px;
    padding:10px 0px;
  }
  > .specs{
    height:150px;
    width:70%;
    margin-top:20px;
    display: flex;
    justify-content:space-between;
    font-size:13px;
    color:$white;
    @import "_components.online-details";
  }
}

// メインページ左タイトル共通(ホスト、持ち物、参加方法、レビュー、注意)
.sticky {
  width: 20vw;
  height: 10vh;
  position: -webkit-sticky; 
  position: sticky; 
  top: 55px; 
  left: 0; 
  > .title{
    font-size:30px;
    font-weight: bold;
    min-width:150px;
    padding-top:40px;
  }
  // レビュー/左側翻訳
  > .traditional{
    margin-top:20px;
    border:$light-black solid 2px;
    padding:10px 20px;
    max-width:260px;
    color:$light-black;
    font-weight: bold;
    border-radius:5px;
  }
}

// 体験できる事/左テキスト
.experiencetext{
  padding-top:45px;
  max-width:900px;
  line-height:2.0;
  padding-left:60px;
}

// チャレンジ/左タイトル
.challengetitle{
  font-size:30px;
  font-weight: bold;
  min-width:150px;
}

// チャレンジ/右文字全体
.challengetexts{
  padding-top:45px;
  display: flex;
  width:85%;
  padding-left:70px;
  .challengetext{
    margin:0px 20px;
    width:33%;
    > .minititle{
      font-weight: bold;
    }
  }
}

// ホスト/右側
.hostdata{
  padding-top:45px;
  padding-left:100px;
  > img{
    border-radius: 50%; 
  }
  > .hostname{
    font-size:22px;
    font-weight: bold;
    margin-top:10px;
  }
  > .hosttext{
    line-height:2.0;
    max-width:1000px;
  } 
  > .contact{
    color:$light-green;
    margin:20px 0px;
    border: $light-green solid 2px;
    border-radius:5px;
    width:100px;
    padding:10px 10px;
    font-weight: bold;
  }
}

// 持ち物/右側全体
.belongingstexts{
  padding-top:45px;
  padding-left:100px;
  width:100%;
  .belongingstext{
    height:65px;
    margin-top:30px;
    border-bottom:$bodergray solid 1px;
    display: flex;
    > .far{
      font-size:30px;
      margin-right:10px;
    }
    > p{
      line-height:2;
      font-size:15px;
    }
    span{
      color:$light-green;
    }
  }  
}

// 参加方法/右側全体
.participationtexts{
  padding-top:45px;
  padding-left:100px;
  width:100%;
  @import "_components.online-details";
  > .charter{
    > .participationtitle{
      font-size:22px;
      font-weight: bold;
      margin:10px 0px;
    }
    > .details{
      font-size:18px;
    }
  }
}

// レビュー/左側総合レビュー
.totalreview{
  font-weight: bold;
  width:255px;
  > .fas{
    color:$light-green;
  }
}
// 右側レビュー詳細
.review{
  margin-bottom:30px;
  >.top{
    display:flex;
      img{
      border-radius: 50%; 
    }
    @import "_components.online-details";
  }
  > .down{
    margin-top:15px;
    border-bottom:$bodergray solid 1px;
    padding-bottom:30px;
    span{
      color:$light-green;
    }
  }
  > .pagination{
    color:$light-green;
    font-size:14px;
    display: flex;
    span{
      letter-spacing:40px;
    }
    > .bot{
      margin-right:20px;
    }
    > .fas{
      font-size:30px;
      margin-left:30px;
      line-height:0.7;
    }  
  }
}
// 5番目のレビューは下線無し
.review:nth-child(5) > .down{
  border-bottom:initial;
}


// 予約/カレンダー全体
.calendar{
  display: inline-block;
  padding:0px 30px;
  @import "_components.online-details";
  > .month{
    font-size:18px;
    margin:0px 0px 20px 15px;
  }
}

// 注意文全般
.notetexts{
  padding-top:45px;
  padding-left:30px;
  @import "_components.online-details";
  > .notetext:nth-child(4){
    border-bottom:initial;
  }
}

// その他体験画像１つのレイアウト
.experience{
  height:100%;
  margin:0px 7px;
  color:$light-black;
  > .image{
    background-image: url("/Users/mikaijun/airbnb/src/image/Chernobyl.png");
    background-size:cover;
    border-radius: 10px;
    height:15vw;
    width:13vw;
    position: relative;
    >.online{
      background-color:$black;
      width:65px;
      height:20px;
      font-size:12px;
      color:$white;
      position: absolute;
      left:15px;
      top:10px;
      border-radius: 5px;
      font-weight: bold;
      padding-left:3px;
      line-height:20px;
    }
  }
}

// その他体験文字詳細
.experience{
  >.country{
    margin:5px 0px;
    font-size:12px;
    font-weight: bold;
    max-width:200px;
    white-space:pre-wrap;
  }
  >.minititle{
    margin-bottom:6px;
    max-width:200px;
    white-space:pre-wrap;
  }
  >.price{
    font-size:15px;
  }
  > .review{
    font-size:12px;
    >.fas{
      margin-right:3px;
    }
    span{
      color:$gray;
      margin-left:3px;
    }
  }
} 

// その他2枚目以降の画像
.experience:nth-child(2) > .image{
  background-image: url("/Users/mikaijun/airbnb/src/image/farm.png");
}
.experience:nth-child(3) > .image{
  background-image: url("/Users/mikaijun/airbnb/src/image/zazen.png");
}
.experience:nth-child(4) > .image{
  background-image: url("/Users/mikaijun/airbnb/src/image/gogh.png");
}
.experience:nth-child(5) > .image{
  background-image: url("/Users/mikaijun/airbnb/src/image/yagi.png");
}
.experience:nth-child(6) > .image{
  background-image: url("/Users/mikaijun/airbnb/src/image/table.png");
}

/*フッター左側*/
.footer-left{
font-size:13px;
  >span{
    padding:0px 8px;
  }
}
  
/*フッター右側*/
.footer-right{
  display: flex;
  justify-content:space-between;
  font-size:13px;
  font-weight:bold;
  height:30px;
  width:300px;
  > .japan{
    display: flex;
    justify-content:space-between;
    > .fa-globe{
      margin:3px 5px 0px 0px;
    }
    > p{
      margin:0px 4px;
      text-decoration: underline;
    }
  }
  > .sns{
    letter-spacing: 10px;
    font-size:18px;
  }
}

// 固定フッター左側
.fixedleft{
  display: flex;
  padding-left:30px;
  > img {
    margin-top:10px;
    border-radius: 50%;
  }
  >.title{
    margin:0px 10px;
    font-size:13px;
    font-weight: bold;
  }
  >.review{
    font-size:10px;
    font-weight: bold;
    color:$light-green;
  }
  >.reviewcount{
    font-size:10px;
    color:$gray;
  }
}
// 固定フッター右側
.fixedright{
  display: flex;
  padding-right:30px;
  >.price{
    font-weight: bold;
    font-size:13px;
  }
  >.daybtn{
    background-color:$wine;
    color:$white;
    font-weight: bold;
    text-align: center;
    width:200px;
    height:50px;
    line-height:50px;
    margin:10px 0px 0px 30px;
    border-radius: 5px;
  }
}