.footericon-block {
  display: flex;
  justify-content:space-between;
  font-size:13px;
  font-weight:bold;
  height:30px;
  width:300px;
  margin:0 auto;
  @media (max-width: 740px){
    margin:initial;
    position: absolute;
    top:20px;
    left:30px;
    text-align: center;
  }
}

.footericon-block  > .iconitem {
  display: flex;
  justify-content:space-between;
}

.footericon-block  > .iconitem > .fa-globe {
  margin:0px 5px 0px 0px;
}

.footericon-block  > .iconitem > .japanfont {
  margin:0px 4px;
  text-decoration: underline;
}

.footericon-block  > .iconcontact {
  letter-spacing: 10px;
  font-size:18px;
  @media (max-width: 740px){
    display: none;
  }
}
  