.header-nav > li{
  display: inline;
  padding-right:20px;
  text-decoration:none;
  font-weight: bold;
  font-size:14px;
  color:$light-black;
  > .fas{
    margin-right:7px;
  }
  > .host{
    display: none;
  }
  > .register{
    display: inline-block;
    padding: 0.7em 1.1em;
    border-radius: 20px;
    box-shadow:$black-shadow;
  }
}