.hiding-footer{
  width:100%;
  height:70px;
  border-top:solid 1px $bodergray;
  position: absolute;
  position: fixed;
  bottom: 0; 
  background-color:$white;
  .icons{
    display: flex;
    text-align: center;
    margin:0 auto;
    width:50%;
    padding:20px;
    > .icon{
      width:33%;
      > .far{
        font-size:25px;
        color:$gray;
      }
      >.fab{
        font-size:25px;
        color:$gray;
      }
      > .word{
        font-size:10px;
      }
    }
  }
}

@media (min-width:740px){
  .hiding-footer{
    opacity: 0;
  }
}