.link-nav{
  @media (max-width: 1130px){
    display:flex;
    flex-wrap: wrap;
  }
}

.link-nav > .linklist{
  font-size:14px;
  list-style: none;
  line-height:35px;
  @media (max-width: 1130px){
    width:33%;
  }
  @media (max-width: 740px){
    width:100%;
  }
}


.link-nav > .linklist > .hover{
  color:$black-out; 
}
.link-nav > .linklist > .hover:hover{
  text-decoration: underline;
  opacity:0.9;
  cursor: pointer;
}