.news-container{
  height:500px;
  width:100%;
  background-color:$light-gray;
  border-bottom:solid 1px $bodergray;
  > .latestinformation{
    font-size:22px;
    font-weight: bold;
    padding:30px 0px 0px 50px;
  }
  >.informations{
    height:300px;
    width:100%;
    margin-top:30px;
    padding-left:50px;
    width:95%;
    .information{
      width:23%;
      margin-right:15px;
      float: left;
    }
  }
}



@media (max-width: 740px){
  .news-container{
    padding:10px;
    height:auto;
    width:96%;
    >.informations{
      overflow-x: auto;
      white-space: nowrap;
      display: flex;
      margin-top:initial;
      > .information{
        width:100%;
        margin-top:50px;
        padding-right:50px;
      }
    }
  }
}
@media (min-width:741px) and (max-width: 1130px){
  .news-container{
    height:850px;
    .informations >.information{
      width:45%;
      margin-top:50px;
    }
  }
}