.sangría-image{
  width:90%;
  border-radius:25px;
  height:100%;
  background-size:cover;
  position: relative;
  background-image:url("/Users/mikaijun/airbnb/src/image/sangría.png");
  > .explanation{
    background-color:$explanation;
    height:75px;
    border-radius:0px 0px 25px 25px;
    position: relative;
    position: absolute;
    width:100%;
    bottom:0;
    p{
      max-width:50%;
      padding:10px;
    }
  }
}

@media (max-width: 900px){
  .sangría-image{
    display: inline-block;
    width: 90vw;
    height: 80vw;
    margin:16px;
  } 
}

@media (min-width:900px) and (max-width: 1130px) {
  .sangría-image{
    width: 60vw;
    height: 50vw;
    margin-right:20px; 
  }
}