.search-header {
  height:45px;
  width:350px;
  background-color:$white;
  border-radius: 10px;
  box-shadow:$black-shadow;
  display:none;
  display:flex;
  > .headerform{
    border-right: thin solid $bodergray;
    text-align: center;
    line-height:45px;
    font-size:14px;
    padding:0px 10px;
    color:$gray;
  }
  > .fas{
    margin:0 auto;
    line-height:45px;
    font-size:18px;
    color:$red;
  }
}
