.about-block{
  display:flex;
  @media(max-width: 1130px){
    display: initial;
  }
} 

.about-block > .item{
  width:37.5%;
  line-height:1.75;
  padding:0px 30px;
  @media(max-width: 1130px){
    width:initial;
    margin-bottom:50px;
    padding:initial;
  }
}

.about-block > .item > .headline{
  font-size:22px;
  font-weight: bold;
}

.about-block > .item > .summary{
  font-size:15px;
  margin-top:20px;
}

.about-block > .item > .green{
  color:$green-riviera-paradise;
  padding-top:20px;
}