.check_list-item{
  margin-right:150px;
}

.check_list-item >.list{
  display:flex;
}

.check_list-item >.list > .fas{
  color:$light-green;
  font-size:18px;
  margin-right:15px;
  margin-bottom:25px;
}