.checklist-item{
  margin-right:150px;
}

.checklist-item >.list{
  display:flex;
}

.checklist-item >.list > .fas{
  color:$green-riviera-paradise;
  font-size:18px;
  margin-right:15px;
  margin-bottom:25px;
}