.secondary.dennis-container {
  margin-top:100px;
  display: flex;
  @media (max-width: 740px){
    flex-direction: column;
  }
}

.dennis-container > .interviewblock{
  width:43%;
  margin:0px 50px;
  color:$black-kettleman;
  @media (min-width:741px) and (max-width: 1130px){
    margin-right:20px;
  }
  @media (max-width: 740px){
    width:100%;
  }
}

.dennis-container > .interviewblock > .interview{
  font-size:33px;
  line-height:1.25;
  @media (min-width:741px) and (max-width: 1130px){
    font-size:18px;
    line-height:1.25;
    width:100%;
  }
  @media (max-width: 740px){
    font-size:18px;
    line-height:1.25;
    width:100%;
  }
}

.dennis-container > .interviewblock > .summary{
  margin-top:15px;
  color:$su-nezumi-grey;
  @media (min-width:741px) and (max-width: 1130px){
    font-size:14px;
    width:100%;
  }
  @media (max-width: 740px){
    font-size:14px;
    width:100%;
  }
}

.dennis-container > .interviewblock > .btn{
  margin-top:10px;
  color:$dark-engine;
  margin:20px 0px;
  border:$dark-engine solid 2px;
  border-radius:5px;
  width:180px;
  padding:15px 20px;
  font-weight: bold;
}

.dennis-container > .interviewblock > .icon{
  @media (max-width: 740px){
    font-size:10px;
  }
}

.dennis-container > .interviewimage > img{
  width: 525px; 
  height: 500px;
  @media (min-width:741px) and (max-width: 1130px){
    width: 350px; 
    height: 350px;
  }
  @media (max-width: 740px){
    width: initial; 
    height: initial;
    max-width:550px;
    max-height:550px;
  }
}