.openingdescription{
  display: flex;
  margin-top:50px;
  @media (max-width: 1130px){
    display:initial;
  }
}

.openingdescription > .whyhost{
  padding:0px 20px;
  color:$dark-engine;
}

.openingdescription > .whyhost > .title{
  font-size:23px;
  font-weight: bold;
  margin-bottom:20px;
}

.openingdescription > .whyhost >.summary{
  width:85%;
  font-size:16px;
  line-height:1.75;
  @media(max-width: 1130px){
    width:initial;
    margin-bottom:50px;
  }
}

.openingdescription > .warranty{
  padding:0px 20px;
  color:$dark-engine;
}

.openingdescription > .warranty > .title{
  font-size:23px;
  font-weight: bold;
  margin-bottom:20px;
}

.openingdescription > .warranty >.summary{
  width:100%;
  font-size:16px;
  line-height:1.75;
}