.threesegmentation{
  margin-top:70px;
  color:$dark-engine;
}

.threesegmentation > .title{
  font-size:60px;
  text-align: center;
  font-weight: bold;
  margin-bottom:50px;
  @media(max-width: 1130px){
    font-size:35px;
    font-weight: bold;
    margin-bottom:50px;
  }
  @media (max-width: 740px){
    text-align:left;
  }
}

.threesegmentation > .block{
  display: flex;
  @media(max-width: 1130px){
    display: initial;
  }
}

.threesegmentation > .block > .summary{
  width:30%;
  margin-right:40px;
  line-height:1.75;
  @media(max-width: 1130px){
    width:initial;
    margin-bottom:50px;
  }
}

.threesegmentation > .block > .summary > .far{
  font-size:50px;
}

.threesegmentation > .block > .summary > .title{
  font-size:25px;
  margin-top:20px;
  font-weight: bold;
  @media(max-width: 1130px){
    margin-top:initial;
  }
}

.threesegmentation > .block > .summary > .text{
  font-size:17px;
  margin-top:20px;
  @media(max-width: 1130px){
    margin-top:initial;
  }
}

.threesegmentation > .block > .summary > .green{
  color:$green-riviera-paradise;
  padding-top:10px;
}