// 黒系
$black:black;
$black-nero:#252525;
$dark-engine:#3f3f3f;
$black-kettleman:#606060;
$black-pig-iron:#484848;
$black-carbon:#333333;



// 白系
$white:#fff;
$white-smoke:#f5f5f5;
$white-emptiness:#fcfcfc;

// 灰系
$grey:#808080;
$grey-sonic-silver:#767676;
$su-nezumi-grey:#a0a0a0;
$compact-disc-grey:#cdcdcd;
$brainstem-grey:#b4b4b4;

// 赤系
$red:red;
$red-pelati:#f73131;
$red-spanish-crimson:#E61E4D;
$red-rose-rush:#e41d5c;
$fusion-red:#FF5A5F;
$red-wine-grape:#92174d;

// 緑系
$green-riviera-paradise:#01999e;
$green-fanfare:#006a70;






