// 黒系
$light-black: #3f3f3f;

// 白系
$white: #fff;

// コメントアウトで何系の色なのかを示し、https://codepen.io/meodai/full/mEvZRx これを参考に命名して頂いでもよろしいですか。
// 命名方法は codepenで色の命名に系統の名前が含まれていない場合、(カラーの系統)-(codepenで出た名前)のような感じにしてください。
// #E61E4D → Spanish Crimson, 赤系なので $red-spanish-crimson: #E61E4D; とういう感じでお願いします。
// #3f3f3fこれの場合はそのまま、$dark-engine: #3f3f3f;で大丈夫です。

$light-black:#3f3f3f;
$light-60:#606060;
$light-a0:#a0a0a0;
$light-gray:#f5f5f5;
$light-white:#fcfcfc;
$white:#fff;
$red:red;
$gray:gray;
$wine:rgb(247, 49, 49);
$catchcopystart:rgb(146, 23, 77);
$catchcopyend:rgb(228, 29, 92);
$black:black;
$bodergray:#cdcdcd;
$black-shadow:0 0 10px rgb(180, 180, 180);
$explanation:#252525;
$light-green:#01999e;
$light-red:#FF5A5F;
$dark-green:rgb(0, 106, 112);
$gray-76:#767676;
$btn-red:#E61E4D;