.groupphoto-container{
  max-width:95%; 
  max-height:90%;
  margin:100px auto;
  display:block;
}

.groupphoto-container > .create{
  margin:50px auto;
  border:$dark-engine solid 1px;
  padding:15px;
  width:160px;
  color:$dark-engine;
  font-weight: bold;
  border-radius:5px;
  @media (max-width: 740px) {
    width:90%;
    text-align: center;
    font-size:13px;
    margin-bottom:300px;
  }
}