.support-block{
  display: flex;
  @media (max-width: 740px) {
    display: initial;
  }
}


.support-block > .list{
  padding:30px;
  max-width:350px;
}

.support-block > .list > .icon{
  height:45px;
  width:45px;
}

.support-block > .list > .title{
  font-size:25px;
  font-weight: bold;
  margin-top:10px;
}

.support-block > .list > .summary{
  margin-top:10px;
  line-height:1.75;
}