@import "../color";

@media (max-width: 740px){
  // 背景画像/高さ変更
  .section-layout > .hostbackground{
    height:250px;
  }
  // 背景画像/高さ変更
  .section-layout > .hostbackground > .levelup{
    left:30px;
    font-size:35px;
    width:90%;
  }
 // 入力フォーム貸し切り&ゲスト横展開解除
  .section-layout > .responsiveform{
    width:90%;
    @import "responsive-components(~width740px)";
  }
  // メインページ余白変更
  .section-layout > .hostmain{
    padding:0px 5vw;
  }
  // インタビュー
  .section-layout > .hostmain >.interview{
	  flex-direction: column-reverse;
    @import "responsive-components(~width740px)";
  }
  // ステップ
  .section-layout > .hostmain > .step{
    @import "responsive-components(~width740px)"; 
  }
   // 安心
  .section-layout > .hostmain > .relief {
    margin-top:100px;
    padding:initial;
    @import "responsive-components(~width740px)";
  }
}






@media (min-width:741px) and (max-width: 1130px){
  // 背景画像/高さ変更
  .section-layout > .hostbackground{
    height:275px;
  }
  // メインページ余白変更
  .section-layout > .hostmain{
    padding:0px 15vw;
  }
}






@media (max-width: 1130px){
  .section-layout > .hostheader{
  // 固定ヘッダー非表示
    display:none;
  }
  // 背景画像/フォーム非表示
  .section-layout > .hostbackground > .form{
    display:none;
  }
  // 冒頭説明/横並び解除
  .section-layout > .hostmain >.introduction{
    display:initial;
    @import "responsive-components";
  }
  // ステップ
  .section-layout > .hostmain > .step{
    margin-top:100px;
    @import "responsive-components";
  }
  // 安心
  .section-layout > .hostmain > .relief {
    margin-top:100px;
    padding:initial;
    @import "responsive-components";
  }
}






@media (min-width: 1130px){
  // 背景画像/白文字非表示
  .section-layout > .hostbackground > .levelup{
    display: none;
  }
  .section-layout > .hostbackground >.fas{
    display: none;
  }
  .section-layout > .hostbackground >.fab{
    display: none;
  }
  // width1300px以下入力フォーム非表示
  .section-layout >.responsiveform{
    display: none;
  }
}