// 冒頭説明/なぜの広さ制限解除
.whyhost >.text{
  width:initial;
  margin-bottom:50px;
}

// ステップ/タイトル文字サイズ(~1300px)
.steptitle{
  font-size:35px;
  font-weight: bold;
  margin-bottom:50px;
}
// ステップの横並び解除(~1300px)
.steptexts{
  display: initial;
  >.steptext{
    width:initial;
    margin-bottom:50px;
    >.minititle{
      margin-top:initial;
    }
    >.minitext{
      margin-top:initial;
    }
  }
}
// インタビュー左側(741~1300px)
.interviewleft{
  >.interviewtext{
    font-size:18px;
    line-height:1.25;
    width:80%;
  }
  > .minitext{
    font-size:14px;
    width:80%;
  }
}
// インタビュー右画像サイズ縮小(741~1300px)
.interviewright > img{
  width: 350px; 
  height: 350px;
}

// 安心/タイトル文字サイズ
.relieftitle{
  font-size:40px;
  font-weight: bold;
  margin-bottom:50px;
}
// 安心の横並び解除
.relieftexts{
  display: initial;
  >.reliefleft{
    width:initial;
    >.how{
      margin:10px 0px 20px 0px;
    }
  }
}
