.section-layout{
  > .covid{ 
    @media (max-width: 750px){
      height:70px;
     }
  }
  > .topheader{
    @media (max-width:840px){
      display: none;
     }
  }
  > .form2{
    @media (min-width:841px){
      display:none;
      }
    }
  > .search{
    @media (max-width: 840px){
      display: none;
      }
    }
  > .catchcopy{
    > p{
      @media (max-width: 1920px) {
        font-size: calc(1.875rem + ((1vw - 9.5px) * 2.5773));
        min-height: 0vw;
      }
      @media (max-width: 950px) {
        font-size: 30px;
        width:150%;
      }
    }   
  }
}